<p-growl [(value)]="msgs" [life]="5000" [style]="{zIndex:99999999}"></p-growl>

<!-- <form [formGroup]="questionForm" class="search-container">
    <input type="text" formControlName="question" class="form-control" (keyup.enter)="searchFAQ()" id="search-bar" placeholder="What would you like to search for?"
        required pInputText>
    <div class="search-icon" (click)="searchFAQ()">
        <i class="fa fa-search"></i>
    </div>
</form> -->
<br>

<div *ngIf="!loading">
    <p-card styleClass="ui-card-shadow">
        <h4>My Questions</h4>
        <p-tabView id="scrollHere" [activeIndex]="activeTab" (onChange)="changeTab($event)">
            <p-tabPanel header="Answered">
                <div *ngIf="faqs.length === 0">
                    <h5>
                        There are no questions.
                    </h5>
                </div>

                <div *ngIf="faqs.length > 0">
                    <ng-container *ngFor="let faq of faqs; let i=index">
                        <ng-container *ngIf="i >= firstIndex && i < lastIndex">
                            <p-card class="questionCard clickable" (click)="showAnswerDialog(i)">
                                <div class="ui-g">
                                    <div class="ui-g-9">
                                        <div class="question" style="color:#3989e1; margin-bottom:12px">
                                            {{faqs[i].question}}
                                        </div>
                                        <div style="font-size: 12px; font-weight: 600">
                                            <p>Posted on: {{faqs[i].dateAsked}}</p>
                                        </div>
                                    </div>
                                    <div class="ui-g-3">
                                        <div style="float: right; font-size: 12px; font-weight: 400">
                                            {{faqs[i].views}} views
                                        </div>
                                    </div>
                                </div>
                            </p-card>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="answerDialog">
                        <p-dialog header="Answer View" [(visible)]="answerDialog" [closable]="true" [modal]="true" [maximizable]="true">
                            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                                <i>Question:</i>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-10 qnsInDialog" style="color:#3989e1; margin-bottom:12px">
                                    {{faqs[currentIndex].question}}
                                </div>
                                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                                    <!-- <p>Posted by: Jarrett Goh</p> -->
                                    <p>Posted on:</p>
                                    <p>{{faqs[currentIndex].dateAsked}}</p>
                                </div>
                            </div>
                            <hr>

                            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                                <i>Answer:</i>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-10 ansInDialog" style="color:black; margin-bottom:12px">
                                    <div [innerHTML]="faqs[currentIndex].answer"></div>
                                </div>

                                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                                    <!-- <p>Answered by: Randy Lai</p> -->
                                    <p>Answered on:</p>
                                    <p>{{faqs[currentIndex].dateAnswered}}</p>
                                </div>
                            </div>
                            <div style="float: right">
                                {{faqs[currentIndex].views}} views
                            </div>
                        </p-dialog>
                    </ng-container>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Unanswered">
                <div *ngIf="faqs.length === 0">
                    <h5>
                        There are no questions.
                    </h5>
                </div>

                <div *ngIf="faqs.length > 0">
                    <ng-container *ngFor="let faq of faqs; let i=index">
                        <ng-container *ngIf="i >= firstIndex && i < lastIndex">
                            <p-card class="questionCard">
                                <div class="ui-g">
                                    <div class="ui-g-9">
                                        <div class="question" style="color:#d88629; margin-bottom:12px">
                                            {{faqs[i].question}}
                                        </div>
                                        <div style="font-size: 12px; font-weight: 600">
                                            <p>Posted on: {{faqs[i].dateAsked}}</p>
                                        </div>
                                    </div>
                                </div>
                            </p-card>
                        </ng-container>
                    </ng-container>
                </div>
            </p-tabPanel>
        </p-tabView>
        <ng-container *ngIf="faqs.length > 0">
            <p-paginator [rows]="10" [totalRecords]="numFAQs" (onPageChange)="paginate($event)"></p-paginator>
        </ng-container>
    </p-card>
</div>