<p-growl [(value)]="msgs" [life]="5000"></p-growl>

<p-card [style]="{width: '60%'}" styleClass="ui-card-shadow">
    <div class="form-create">
        <h3>Upload Agmt Code - Document Mapping</h3>
        <br>
        <h4>Select a file: </h4>
        <p-fileUpload name="uploadedFile" accept=".csv" maxFileSize="1000000" [disabled]="loading" url="{{ uploadUrl }}"
            (onUpload)="onUpload($event)" (onError)="onError($event)" (onBeforeUpload)="onBeforeUpload($event)">
            <ng-template pTemplate="content">
                <div *ngIf="inputFiles">
                    <ng-container *ngFor="let file of inputFiles">
                        <p-message severity="success" text="{{ file.name }} - {{ file.size }} bytes"></p-message>
                    </ng-container>
                </div>
                <div *ngIf="errorFiles">
                    <ng-container *ngFor="let file of errorFiles">
                        <p-message severity="error" text="{{ file.name }} - {{ file.size }} bytes"></p-message>
                    </ng-container>
                </div>
                <br>
                <div *ngIf="response">
                    <p-message severity="success" text="{{ response.inserted }} records inserted"></p-message>
                    <p-message *ngIf="response.errors > 0" severity="error" text="{{ response.error }} errors"></p-message>
                </div>
            </ng-template>
        </p-fileUpload>
        <br>
        *Only CSV files are accepted
    </div>
</p-card>