<p-growl [(value)]="msgs" [life]="5000" [style]="{zIndex:99999999}"></p-growl>

<!-- <div *ngIf="loading" style="width: 100%; text-align: center; margin: 0 auto">
    <p-progressSpinner strokeWidth="8" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
</div> -->

<div class="zoom" *ngIf="!loading">
    <div style="padding-bottom: 10px">
        <p-card styleClass="ui-card-shadow" [formGroup]="checklistLogForm">
            <h4>Checklist Logs</h4>
            <div>
                <h5>Select a checklist: </h5>
                <p-dropdown [options]="checklistNameData" (onChange)="reloadVersions($event)" placeholder="Select a checklist"
                    formControlName="clID" [style]="{'width':'50%', 'margin-top': '0.5%', 'margin-left': '1px'}"></p-dropdown>
                <p-dropdown [options]="checklistVersionData" placeholder="Select a version" formControlName="version"
                    [style]="{'width':'20%', 'margin-top': '0.5%', 'margin-left': '1.5%'}"></p-dropdown>
            </div>

            <button pButton label="Retrieve" class="ui-button-primary" style="width: 15%; margin-top: 1%" type="button"
                icon="fas fa-search" (click)="retrieveChecklistDetails()"></button>
        </p-card>
    </div>


    <!-- Checklist Details -->
    <div *ngIf="searched">
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4>{{ checklistLogData.name }}</h4>
                Created By: {{ checklistLogData.createdBy }} <br>
                Date Created: {{ checklistLogData.dateCreated }} <br>
                Updated By: {{ checklistLogData.updatedBy }} <br>
                Last Updated: {{ checklistLogData.dateUpdated }}
            </p-card>
        </div>

        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4>Required Fields</h4>
                <p-table [value]="checklistLogData.requiredFields" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Field Name
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-requiredField let-i="rowIndex">
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ requiredField }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>

        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4>Conditions</h4>
                <p-table [value]="checklistLogData.conditions" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Condition Name
                            </th>
                            <th>
                                Condition Options
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-condition let-i="rowIndex">
                        <ng-container *ngFor="let conditionOption of checklistLogData.conditions[i].conditionOptions; let j=index">
                            <tr>
                                <ng-container *ngIf="j === 0">
                                    <td [attr.rowspan]="checklistLogData.conditions[i].conditionOptions.length">
                                        {{ i + 1 }}
                                    </td>
                                    <td [attr.rowspan]="checklistLogData.conditions[i].conditionOptions.length">
                                        {{ condition.conditionName }}
                                    </td>
                                </ng-container>
                                <td>{{ conditionOption }}</td>
                            </tr>
                        </ng-container>

                    </ng-template>
                </p-table>
            </p-card>
        </div>

        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4 style="display: inline-block;">Compliance Documents</h4>
                <button #btn type="text" style="float: right;" pButton label="Colour Legend" class="ui-button-raised ui-button-info"
                    (mouseover)="legendTable.show($event)" (mouseout)="legendTable.hide()"></button>
                <p-overlayPanel #legendTable appendTo="btn">
                    <p-table [columns]="tableCols" [value]="docChanges">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns" [ngClass]="rowData[col.field] === 'Green' ? 'addedDoc' : 
                                                            rowData[col.field] === 'Red' ? 'removedDoc' : 
                                                            rowData[col.field] === 'Yellow' ? 'modifiedDoc' : 'null'">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-overlayPanel>


                <h5>Mandatory</h5>
                <div *ngIf="checklistLogData.complianceDocuments.mandatory.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="checklistLogData.complianceDocuments.mandatory.length > 0" style="padding-bottom:1%">
                    <p-table [value]="checklistLogData.complianceDocuments.mandatory" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of complianceCols">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <ng-container *ngIf="checklistLogData.complianceDocuments.mandatory[i].conditions.length === 0">
                                <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                    doc.changed === '2' ? 'new-field' :
                                                    doc.changed === '1' ? 'edited-field' : null">
                                    <td>
                                        {{ doc.documentName }}
                                    </td>
                                    <td>
                                        {{ doc.documentType }}
                                    </td>
                                    <td> - </td>
                                    <td> - </td>
                                    <td>
                                        {{ doc.agmtCode }}</td>
                                    <td [innerHTML]="doc.remarks"></td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="checklistLogData.complianceDocuments.mandatory[i].conditions.length > 0">
                                <ng-container *ngFor="let condition of checklistLogData.complianceDocuments.mandatory[i].conditions; let j=index">
                                    <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                    doc.changed === '2' ? 'new-field' :
                                                    doc.changed === '1' ? 'edited-field' : null">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="checklistLogData.complianceDocuments.mandatory[i].conditions.length">
                                                {{ doc.documentName }}
                                            </td>
                                            <td [attr.rowspan]="checklistLogData.complianceDocuments.mandatory[i].conditions.length">
                                                {{ doc.documentType }}
                                            </td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="checklistLogData.complianceDocuments.mandatory[i].conditions.length">
                                                {{ doc.agmtCode }}
                                            </td>
                                            <td [attr.rowspan]="checklistLogData.complianceDocuments.mandatory[i].conditions.length"
                                                [innerHTML]="doc.remarks"></td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="checklistLogData.complianceDocuments.mandatory[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="checklistLogData.complianceDocuments.mandatory[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </p-table>
                </div>

                <h5>Optional</h5>
                <div *ngIf="checklistLogData.complianceDocuments.optional.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="checklistLogData.complianceDocuments.optional.length > 0" style="padding-bottom:1%">
                    <p-table [value]="checklistLogData.complianceDocuments.optional" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of complianceCols">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <ng-container *ngIf="checklistLogData.complianceDocuments.optional[i].conditions.length === 0">
                                <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                        doc.changed === '2' ? 'new-field' :
                                                        doc.changed === '1' ? 'edited-field' : null">
                                    <td>
                                        {{ doc.documentName }}
                                    </td>
                                    <td>
                                        {{ doc.documentType }}
                                    </td>
                                    <td> - </td>
                                    <td> - </td>
                                    <td>
                                        {{ doc.agmtCode }}</td>
                                    <td [innerHTML]="doc.remarks"></td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="checklistLogData.complianceDocuments.optional[i].conditions.length > 0">
                                <ng-container *ngFor="let condition of checklistLogData.complianceDocuments.optional[i].conditions; let j=index">
                                    <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                        doc.changed === '2' ? 'new-field' :
                                                        doc.changed === '1' ? 'edited-field' : null">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="checklistLogData.complianceDocuments.optional[i].conditions.length">
                                                {{ doc.documentName }}
                                            </td>
                                            <td [attr.rowspan]="checklistLogData.complianceDocuments.optional[i].conditions.length">
                                                {{ doc.documentType }}
                                            </td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="checklistLogData.complianceDocuments.optional[i].conditions.length">
                                                {{ doc.agmtCode }}
                                            </td>
                                            <td [attr.rowspan]="checklistLogData.complianceDocuments.optional[i].conditions.length"
                                                [innerHTML]="doc.remarks"></td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="checklistLogData.complianceDocuments.optional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="checklistLogData.complianceDocuments.optional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
        </div>


        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4>Legal Documents</h4>
                <h5>Mandatory</h5>
                <div *ngIf="checklistLogData.legalDocuments.mandatory.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="checklistLogData.legalDocuments.mandatory.length > 0" style="padding-bottom:1%">
                    <p-table [value]="checklistLogData.legalDocuments.mandatory" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of legalCols">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <ng-container *ngIf="checklistLogData.legalDocuments.mandatory[i].conditions.length === 0">
                                <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                        doc.changed === '2' ? 'new-field' :
                                                        doc.changed === '1' ? 'edited-field' : null">
                                    <td>
                                        {{ doc.documentName }}
                                    </td>
                                    <td>
                                        {{ doc.documentType }}
                                    </td>
                                    <td> - </td>
                                    <td> - </td>
                                    <td>
                                        {{ doc.agmtCode }}</td>
                                    <td [innerHTML]="doc.remarks"></td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="checklistLogData.legalDocuments.mandatory[i].conditions.length > 0">
                                <ng-container *ngFor="let condition of checklistLogData.legalDocuments.mandatory[i].conditions; let j=index">
                                    <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                        doc.changed === '2' ? 'new-field' :
                                                        doc.changed === '1' ? 'edited-field' : null">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="checklistLogData.legalDocuments.mandatory[i].conditions.length">
                                                {{ doc.documentName }}
                                            </td>
                                            <td [attr.rowspan]="checklistLogData.legalDocuments.mandatory[i].conditions.length">
                                                {{ doc.documentType }}
                                            </td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="checklistLogData.legalDocuments.mandatory[i].conditions.length">
                                                {{ doc.agmtCode }}
                                            </td>
                                            <td [attr.rowspan]="checklistLogData.legalDocuments.mandatory[i].conditions.length"
                                                [innerHTML]="doc.remarks"></td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="checklistLogData.legalDocuments.mandatory[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="checklistLogData.legalDocuments.mandatory[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td *ngIf="doc.canWaiver" [attr.rowspan]="checklistLogData.legalDocuments.mandatory[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.canWaiver" [attr.rowspan]="checklistLogData.legalDocuments.mandatory[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </p-table>
                </div>

                <h5>Optional</h5>
                <div *ngIf="checklistLogData.legalDocuments.optional.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="checklistLogData.legalDocuments.optional.length > 0" style="padding-bottom:1%">
                    <p-table [value]="checklistLogData.legalDocuments.optional" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of legalCols">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <ng-container *ngIf="checklistLogData.legalDocuments.optional[i].conditions.length === 0">
                                <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                            doc.changed === '2' ? 'new-field' :
                                                            doc.changed === '1' ? 'edited-field' : null">
                                    <td>
                                        {{ doc.documentName }}
                                    </td>
                                    <td>
                                        {{ doc.documentType }}
                                    </td>
                                    <td> - </td>
                                    <td> - </td>
                                    <td>
                                        {{ doc.agmtCode }}</td>
                                    <td [innerHTML]="doc.remarks"></td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="checklistLogData.legalDocuments.optional[i].conditions.length > 0">
                                <ng-container *ngFor="let condition of checklistLogData.legalDocuments.optional[i].conditions; let j=index">
                                    <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                            doc.changed === '2' ? 'new-field' :
                                                            doc.changed === '1' ? 'edited-field' : null">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="checklistLogData.legalDocuments.optional[i].conditions.length">
                                                {{ doc.documentName }}
                                            </td>
                                            <td [attr.rowspan]="checklistLogData.legalDocuments.optional[i].conditions.length">
                                                {{ doc.documentType }}
                                            </td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="checklistLogData.legalDocuments.optional[i].conditions.length">
                                                {{ doc.agmtCode }}
                                            </td>
                                            <td [attr.rowspan]="checklistLogData.legalDocuments.optional[i].conditions.length"
                                                [innerHTML]="doc.remarks"></td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="checklistLogData.legalDocuments.optional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="checklistLogData.legalDocuments.optional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td *ngIf="doc.canWaiver" [attr.rowspan]="checklistLogData.legalDocuments.optional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.canWaiver" [attr.rowspan]="checklistLogData.legalDocuments.optional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
        </div>
    </div>
</div>