/* .zoom{
    zoom: 90%;
} */

.field {
    /* padding-top: 1% */
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    margin: 10px;
}

label {
    font-size: 0.875em;
    color: #333333;
    display: inline-block;
}

/***********************************
  Style of invalid and dirty inputs 
 **********************************/

:host>>>.ui-inputtext.ng-dirty.ng-invalid,
:host>>>p-dropdown.ng-dirty.ng-invalid>.ui-dropdown>label.ui-dropdown-label,
:host>>>p-calendar.ng-dirty.ng-invalid>.ui-calendar>.ui-inputtext {
    background-color: #f8bdc3;
}

:host::ng-deep {
    &.prime-card-override {
        box-shadow: none;
        border-radius: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
    &.prime-dropdown-override {
        display: inline-block;
        width: 100%;
        height: 36px;
    }
}

/***************************
   All Table Column Widths 
 ***************************/

/* Compliance Checklist Documents*/

.cDocName {
    width: 12%
}

.cDocType {
    width: 10%
}

.cCondName {
    width: 13%
}

.cCondOption {
    width: 10%
}

.cAgmtCode {
    width: 7%
}

.cRemark {
    width: 35%
}

.cSignature {
    width: 10%
}

/* Legal Checklist Documents*/

.lDocName {
    width: 10%
}

.lDocType {
    width: 10%
}

.lCondName {
    width: 10%
}

.lCondOption {
    width: 10%
}

.lAgmtCode {
    width: 7%
}

.lRemark {
    width: 25%
}

.lSignature {
    width: 10%
}

.lWaiver {
    width: 10%
}