<p-growl [(value)]="msgs" [life]="5000" [style]="{zIndex:99999999}"></p-growl>
<!-- Select Checklist -->
<div class="zoom" *ngIf="!loading">
    <div *ngIf="step === 1">
        <p-card [formGroup]="checklistForm" styleClass="ui-card-shadow">
            <h4>Select Checklist</h4>
            <p-dropdown [options]="checklistNameDropdownData" placeholder="Select a checklist" formControlName="selectedChecklistId"
                [style]="{'width':'50%', 'margin-top': '0.5%', 'margin-left': '1px'}"></p-dropdown>
        </p-card>
        <button pButton label="Next" class="ui-button-success" style="width: 15%; margin-top: 1%" type="button" icon="fas fa-arrow-right"
            (click)="submitChecklistName()"></button>
    </div>
    <!-- Enter Required and Condition Fields -->
    <div *ngIf="step === 2" [formGroup]="checklistForm">
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow" id="requiredFields">
                <h4>Required Fields</h4>
                <div formArrayName="requiredFields">
                    <div class="field" *ngFor="let field of checklistForm.get('requiredFields').controls; let i=index" [formGroupName]="i">
                        <h5>{{ selectedChecklistData.requiredFields[i] }}</h5>
                        <input *ngIf="i !== 1 && i !== 3" type="text" id="input" class="form-control" style="display: inline-block; width: 50%" placeholder="Enter {{ selectedChecklistData.requiredFields[i] }}"
                            formControlName="field" required pInputText>
                        <p-dropdown *ngIf="i === 1" [options]="rmNames" placeholder="Select RM Name" formControlName="field" [style]="{'width':'50%', 'margin-top': '0.5%', 'margin-left': '1px'}"></p-dropdown>
                        <p-calendar *ngIf="i === 3" [showIcon]="true" [maxDate]="maxDateValue" dateFormat="dd/mm/yy" placeholder="Enter Date of Submission"
                            formControlName="field"></p-calendar>
                    </div>
                </div>
            </p-card>
        </div>
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow" id="conditions">
                <h4>Conditions</h4>
                <div formArrayName="conditions">
                    <div class="field" *ngFor="let condition of checklistForm.get('conditions').controls; let i=index" [formGroupName]="i">
                        <h5>{{ selectedChecklistData.conditions[i].conditionName }}</h5>
                        <p-dropdown [options]="selectedChecklistData.conditions[i].conditionOptions" placeholder="Select option" formControlName="conditionOption"
                            [style]="{'width':'30%', 'margin-top': '0.5%', 'margin-left': '1px'}"></p-dropdown>
                    </div>
                </div>
            </p-card>
        </div>

        <button pButton label="Back" class="bButton" style="width: 15%; margin-right: 1%" type="button" icon="fas fa-arrow-left"
            (click)="back()"></button>
        <button pButton label="Next" class="ui-button-success" style="width: 15%" type="button" icon="fas fa-arrow-right" (click)="submitFieldsConditions()"></button>
    </div>

    <!-- Check Documents Required -->
    <div *ngIf="step === 3" [formGroup]="checklistForm">

        <!-- Compliance Documents -->
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow" formGroupName="complianceDocuments">
                <h4>Compliance Documents</h4>
                <h5>Mandatory</h5>
                <div *ngIf="selectedChecklistData.complianceDocuments.mandatory.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="selectedChecklistData.complianceDocuments.mandatory.length !== 0" style="padding-bottom:1%" formArrayName="mandatory">
                    <p-table [value]="selectedChecklistData.complianceDocuments.mandatory" [scrollable]="true" scrollHeight="350px" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of complianceMOCols" [ngClass]="col.field === 'documentName' ? 'cMDocName' : 
                                                                        col.field === 'agmtCode' ? 'cMAgmtCode' : 
                                                                        col.field === 'remarks' ? 'cMRemark' : 
                                                                        col.field === 'signature' ? 'cMSignature' : null">
                                    {{ col.header }}
                                </th>
                                <th style="width: 10%">Checked?</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <tr>
                                <td class="cMDocName">{{ doc.documentName }}</td>
                                <td class="cMAgmtCode">{{ doc.agmtCode }}</td>
                                <td class="cMRemark" [innerHTML]='doc.remarks'></td>
                                <td class="cMSignature" *ngIf="doc.signature">
                                    <i class="fa fa-check"></i>
                                </td>
                                <td class="cMSignature" *ngIf="!doc.signature">
                                    <i class="fa fa-times"></i>
                                </td>
                                <td style="text-align:center; vertical-align:middle; width: 10%">
                                    <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <h5>Conditional</h5>
                <div *ngIf="selectedChecklistData.complianceDocuments.conditional.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="selectedChecklistData.complianceDocuments.conditional.length !== 0" style="padding-bottom:1%" formArrayName="conditional">
                    <p-table [value]="selectedChecklistData.complianceDocuments.conditional" [scrollable]="true" scrollHeight="350px" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of complianceCCols" [ngClass]="col.field === 'documentName' ? 'cCDocName' : 
                                                                        col.field === 'conditionName' ? 'cCCondName' : 
                                                                        col.field === 'conditionOptions' ? 'cCCondOption' : 
                                                                        col.field === 'agmtCode' ? 'cCAgmtCode' :
                                                                        col.field === 'remarks' ? 'cCRemark' :
                                                                        col.field === 'signature' ? 'cCSignature' : null">
                                    {{ col.header }}
                                </th>
                                <th style="width: 10%">Checked?</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <ng-container *ngFor="let condition of selectedChecklistData.complianceDocuments.conditional[i].conditions; let j=index">
                                <tr>
                                    <ng-container *ngIf="j === 0">
                                        <td class="cCDocName" [attr.rowspan]="selectedChecklistData.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                    </ng-container>
                                    <td class="cCCondName">{{ condition.conditionName }}</td>
                                    <td class="cCCondOption">{{ condition.conditionOption }}</td>
                                    <ng-container *ngIf="j === 0">
                                        <td class="cCAgmtCode" [attr.rowspan]="selectedChecklistData.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                        <td class="cCRemark" [attr.rowspan]="selectedChecklistData.complianceDocuments.conditional[i].conditions.length" [innerHTML]='doc.remarks'></td>
                                        <td class="cCSignature" *ngIf="doc.signature" [attr.rowspan]="selectedChecklistData.complianceDocuments.conditional[i].conditions.length">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="cCSignature" *ngIf="!doc.signature" [attr.rowspan]="selectedChecklistData.complianceDocuments.conditional[i].conditions.length">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td [attr.rowspan]="selectedChecklistData.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle; width: 10%;">
                                            <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </ng-template>
                    </p-table>
                </div>

                <h5>Optional</h5>
                <div *ngIf="selectedChecklistData.complianceDocuments.optional.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="selectedChecklistData.complianceDocuments.optional.length !== 0" style="padding-bottom:1%" formArrayName="optional">
                    <p-table [value]="selectedChecklistData.complianceDocuments.optional" [scrollable]="true" scrollHeight="350px" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of complianceMOCols" [ngClass]="col.field === 'documentName' ? 'cODocName' : 
                                                                        col.field === 'agmtCode' ? 'cOAgmtCode' : 
                                                                        col.field === 'remarks' ? 'cORemark' : 
                                                                        col.field === 'signature' ? 'cOSignature' : null">
                                    {{ col.header }}
                                </th>
                                <th style="width: 10%">Checked?</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <tr>
                                <td class="cODocName">{{ doc.documentName }}</td>
                                <td class="cOAgmtCode">{{ doc.agmtCode }}</td>
                                <td class="cORemark" [innerHTML]='doc.remarks'></td>
                                <td class="cOSignature" *ngIf="doc.signature">
                                    <i class="fa fa-check"></i>
                                </td>
                                <td class="cOSignature" *ngIf="!doc.signature">
                                    <i class="fa fa-times"></i>
                                </td>
                                <td style="text-align:center; vertical-align:middle; width: 10%">
                                    <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
        </div>

        <!-- Legal Documents -->
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow" formGroupName="legalDocuments">
                <h4>Legal Documents</h4>
                <h5>Mandatory</h5>
                <div *ngIf="selectedChecklistData.legalDocuments.mandatory.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="selectedChecklistData.legalDocuments.mandatory.length !== 0" style="padding-bottom:1%" formArrayName="mandatory">
                    <p-table [value]="selectedChecklistData.legalDocuments.mandatory" [scrollable]="true" scrollHeight="350px" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of legalMOCols" [ngClass]="col.field === 'documentName' ? 'lMDocName' : 
                                                                    col.field === 'agmtCode' ? 'lMAgmtCode' : 
                                                                    col.field === 'remarks' ? 'lMRemark' : 
                                                                    col.field === 'signature' ? 'lMSignature' : 
                                                                    col.field === 'canWaiver' ? 'lMWaiver' : null">
                                    {{ col.header }}
                                </th>
                                <th style="width: 10%">Checked?</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <tr>
                                <td class="lMDocName">{{ doc.documentName }}</td>
                                <td class="lMAgmtCode">{{ doc.agmtCode }}</td>
                                <td class="lMRemark" [innerHTML]='doc.remarks'></td>
                                <td class="lMSignature" *ngIf="doc.signature">
                                    <i class="fa fa-check"></i>
                                </td>
                                <td class="lMSignature" *ngIf="!doc.signature">
                                    <i class="fa fa-times"></i>
                                </td>
                                <td class="lMWaiver" *ngIf="doc.canWaiver">
                                    <i class="fa fa-check"></i>
                                </td>
                                <td class="lMWaiver" *ngIf="!doc.canWaiver">
                                    <i class="fa fa-times"></i>
                                </td>
                                <td style="text-align:center; vertical-align:middle; width: 10%">
                                    <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <h5>Conditional</h5>
                <div *ngIf="selectedChecklistData.legalDocuments.conditional.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="selectedChecklistData.legalDocuments.conditional.length !== 0" style="padding-bottom:1%" formArrayName="conditional">
                    <p-table [value]="selectedChecklistData.legalDocuments.conditional" [scrollable]="true" scrollHeight="350px" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of legalCCols" [ngClass]="col.field === 'documentName' ? 'lCDocName' : 
                                                                    col.field === 'conditionName' ? 'lCCondName' : 
                                                                    col.field === 'conditionOptions' ? 'lCCondOption' : 
                                                                    col.field === 'agmtCode' ? 'lCAgmtCode' :
                                                                    col.field === 'remarks' ? 'lCRemark' :
                                                                    col.field === 'signature' ? 'lCSignature' : 
                                                                    col.field === 'canWaiver' ? 'lCWaiver' : null">
                                    {{ col.header }}
                                </th>
                                <th style="width: 10%">Checked?</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <ng-container *ngFor="let condition of selectedChecklistData.legalDocuments.conditional[i].conditions; let j=index">
                                <tr>
                                    <ng-container *ngIf="j === 0">
                                        <td class="lCDocName" [attr.rowspan]="selectedChecklistData.legalDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                    </ng-container>
                                    <td class="lCCondName">{{ condition.conditionName }}</td>
                                    <td class="lCCondOption">{{ condition.conditionOption }}</td>
                                    <ng-container *ngIf="j === 0">
                                        <td class="lCAgmtCode" [attr.rowspan]="selectedChecklistData.legalDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                        <td class="lCRemark" [attr.rowspan]="selectedChecklistData.legalDocuments.conditional[i].conditions.length" [innerHTML]='doc.remarks'></td>
                                        <td class="lCSignature" *ngIf="doc.signature" [attr.rowspan]="selectedChecklistData.legalDocuments.conditional[i].conditions.length">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="lCSignature" *ngIf="!doc.signature" [attr.rowspan]="selectedChecklistData.legalDocuments.conditional[i].conditions.length">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td class="lCWaiver" *ngIf="doc.canWaiver" [attr.rowspan]="selectedChecklistData.legalDocuments.conditional[i].conditions.length">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="lCWaiver" *ngIf="!doc.canWaiver" [attr.rowspan]="selectedChecklistData.legalDocuments.conditional[i].conditions.length">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td [attr.rowspan]="selectedChecklistData.legalDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle; width: 10%">
                                            <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </ng-template>
                    </p-table>
                </div>

                <h5>Optional</h5>
                <div *ngIf="selectedChecklistData.legalDocuments.optional.length === 0" style="padding-bottom:1%">
                    No documents in this section
                </div>
                <div *ngIf="selectedChecklistData.legalDocuments.optional.length !== 0" style="padding-bottom:1%" formArrayName="optional">
                    <p-table [value]="selectedChecklistData.legalDocuments.optional" [scrollable]="true" scrollHeight="350px" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of legalMOCols" [ngClass]="col.field === 'documentName' ? 'lODocName' : 
                                                                    col.field === 'agmtCode' ? 'lOAgmtCode' : 
                                                                    col.field === 'remarks' ? 'lORRemark' : 
                                                                    col.field === 'signature' ? 'lOSignature' : 
                                                                    col.field === 'canWaiver' ? 'lOWaiver' : null">
                                    {{ col.header }}
                                </th>
                                <th style="width: 10%">Checked?</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-i="rowIndex">
                            <tr>
                                <td class="lODocName">{{ doc.documentName }}</td>
                                <td class="lOAgmtCode">{{ doc.agmtCode }}</td>
                                <td class="lORRemark" [innerHTML]='doc.remarks'></td>
                                <td class="lOSignature" *ngIf="doc.signature">
                                    <i class="fa fa-check"></i>
                                </td>
                                <td class="lOSignature" *ngIf="!doc.signature">
                                    <i class="fa fa-times"></i>
                                </td>
                                <td class="lOWaiver" *ngIf="doc.canWaiver">
                                    <i class="fa fa-check"></i>
                                </td>
                                <td class="lOWaiver" *ngIf="!doc.canWaiver">
                                    <i class="fa fa-times"></i>
                                </td>
                                <td style="text-align:center; vertical-align:middle; width: 10%">
                                    <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
        </div>
        <button pButton label="Back" class="bButton" style="width: 15%; margin-right: 1%" type="button" icon="fas fa-arrow-left"
            (click)="back()"></button>
        <button pButton label="Create" class="ui-button-success" style="width: 15%" type="button" icon="fas fa-plus" (click)="createOnboardProcess()"></button>
    </div>
</div>