.zoom{
    zoom: 90%;
}

.field { padding-top:1% }

.bButton {
    margin: 0;
    color: #ffffff;
    background-color: #499ad8 !important;
    border: 1px solid #499ad8 !important;
    font-size: 14px;
    transition: background-color 0.2s;
}

.bButton:hover {
    background-color: #3c7cad  !important;
    color: white;
}

/***********************************
  Style of invalid and dirty inputs 
 **********************************/

:host >>> .ui-inputtext.ng-dirty.ng-invalid,
:host >>>  p-dropdown.ng-dirty.ng-invalid > .ui-dropdown > label.ui-dropdown-label,
:host >>> p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext {
    background-color: #f8bdc3;
} 

/***************************
   All Table Column Widths 
 ***************************/

/* Compliance Checklist Documents*/

.cDocName {
    width: 12%
}

.cDocType {
    width: 10%
}

.cCondName{
    width: 13%
}

.cCondOption {
    width: 10%
}

.cAgmtCode {
    width: 7%
}

.cRemark {
    width: 35%
}

.cSignature { 
    width: 10%
}


/* Legal Checklist Documents*/

.lDocName {
    width: 10%
}

.lDocType {
    width: 10%
}

.lCondName{
    width: 10%
}

.lCondOption {
    width: 10%
}

.lAgmtCode {
    width: 7%
}

.lRemark {
    width: 25%
}

.lSignature { 
    width: 10%
}

.lWaiver { 
    width: 10%
}

