<p-growl [(value)]="msgs" [life]="5000" [style]="{zIndex:99999999}"></p-growl>

<div *ngIf="!loading">
    <div [formGroup]="documentsForm">
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4>Required Fields</h4>
                <div *ngFor="let requiredField of obDetails.requiredFields; let i=index">
                    <b>{{ requiredField.fieldName }}:</b> {{ requiredField.fieldValue }}
                </div>
            </p-card>
        </div>
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4>Conditions</h4>
                <div *ngFor="let condition of obDetails.conditions; let i=index">
                    <b>{{ condition.conditionName }}:</b> {{ condition.conditionOption }}
                </div>
            </p-card>
        </div>

        <div style="padding-bottom: 10px" #compliance>
            <ng-template></ng-template>
            <p-card styleClass="ui-card-shadow">
                <h4 style="display: inline-block;">Compliance Documents</h4>
                <p-overlayPanel #legendTable1 appendTo='compliance'>
                    <p-table [columns]="tableCols" [value]="docChanges">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns" [ngClass]="rowData[col.field] === 'Green' ? 'addedDoc' : 
                                                            rowData[col.field] === 'Red' ? 'removedDoc' : 
                                                            rowData[col.field] === 'Yellow' ? 'modifiedDoc' : 'null'">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-overlayPanel>
                <button type="text" style="float: right;" pButton label="Colour Legend" class="ui-button-raised ui-button-info" (mouseenter)="legendTable1.show($event)"
                    (mouseout)="legendTable1.hide()"></button>
                <div formGroupName="complianceDocuments">
                    <h5>Mandatory</h5>
                    <div *ngIf="obDetails.complianceDocuments.mandatory.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.complianceDocuments.mandatory.length !== 0" style="padding-bottom:1%" formArrayName="mandatory">
                        <p-table [value]="obDetails.complianceDocuments.mandatory" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of complianceMOCols">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <tr *ngIf="doc.changed === '0'">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '1'" class="edited-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '2'" class="new-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '3'" class="deleted-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <h5>Conditional</h5>
                    <div *ngIf="obDetails.complianceDocuments.conditional.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.complianceDocuments.conditional.length !== 0" style="padding-bottom:1%" formArrayName="conditional">
                        <p-table [value]="obDetails.complianceDocuments.conditional" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of complianceCCols">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <ng-container *ngFor="let condition of obDetails.complianceDocuments.conditional[i].conditions; let j=index">
                                    <tr *ngIf="doc.changed === '0'">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.remarks }}</td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle;">
                                                <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr *ngIf="doc.changed === '1'" class="edited-field">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.remarks }}</td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle;">
                                                <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr *ngIf="doc.changed === '2'" class="new-field">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.remarks }}</td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle;">
                                                <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr *ngIf="doc.changed === '3'" class="deleted-field">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.remarks }}</td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle;">
                                                <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </div>

                    <h5>Optional</h5>
                    <div *ngIf="obDetails.complianceDocuments.optional.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.complianceDocuments.optional.length !== 0" style="padding-bottom:1%" formArrayName="optional">
                        <p-table [value]="obDetails.complianceDocuments.optional" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of complianceMOCols">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <tr *ngIf="doc.changed === '0'">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '1'" class="edited-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '2'" class="new-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '3'" class="deleted-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-card>
        </div>

        <div style="padding-bottom: 10px" #legal>
            <p-card styleClass="ui-card-shadow">
                <h4 style="display: inline-block;">Legal Documents</h4>
                <p-overlayPanel #legendTable2 appendTo='legal'>
                    <p-table [columns]="tableCols" [value]="docChanges">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns" [ngClass]="rowData[col.field] === 'Green' ? 'addedDoc' : 
                                                                    rowData[col.field] === 'Red' ? 'removedDoc' : 
                                                                    rowData[col.field] === 'Yellow' ? 'modifiedDoc' : 'null'">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-overlayPanel>
                <button type="text" style="float: right;" pButton label="Colour Legend" class="ui-button-raised ui-button-info" (mouseenter)="legendTable2.show($event)"
                    (mouseout)="legendTable2.hide()"></button>
                <div formGroupName="legalDocuments">
                    <h5>Mandatory</h5>
                    <div *ngIf="obDetails.legalDocuments.mandatory.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.legalDocuments.mandatory.length !== 0" style="padding-bottom:1%" formArrayName="mandatory">
                        <p-table [value]="obDetails.legalDocuments.mandatory" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of legalMOCols">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <tr *ngIf="doc.changed === '0'">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '1'" class="edited-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '2'" class="new-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '3'" class="deleted-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <h5>Conditional</h5>
                    <div *ngIf="obDetails.legalDocuments.conditional.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.legalDocuments.conditional.length !== 0" style="padding-bottom:1%" formArrayName="conditional">
                        <p-table [value]="obDetails.legalDocuments.conditional" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of legalCCols">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <ng-container *ngFor="let condition of obDetails.legalDocuments.conditional[i].conditions; let j=index">
                                    <tr *ngIf="doc.changed === '0'">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.remarks }}</td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td *ngIf="doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle;">
                                                <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr *ngIf="doc.changed === '1'" class="edited-field">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.remarks }}</td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td *ngIf="doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle;">
                                                <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr *ngIf="doc.changed === '2'" class="new-field">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.remarks }}</td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td *ngIf="doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle;">
                                                <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr *ngIf="doc.changed === '3'" class="deleted-field">
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.documentName }}</td>
                                        </ng-container>
                                        <td>{{ condition.conditionName }}</td>
                                        <td>{{ condition.conditionOption }}</td>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.agmtCode }}</td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">{{ doc.remarks }}</td>
                                            <td *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td *ngIf="doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td *ngIf="!doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length">
                                                <i class="fa fa-times"></i>
                                            </td>
                                            <td [attr.rowspan]="obDetails.complianceDocuments.conditional[i].conditions.length" style="text-align:center; vertical-align:middle;">
                                                <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </div>

                    <h5>Optional</h5>
                    <div *ngIf="obDetails.legalDocuments.optional.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.legalDocuments.optional.length !== 0" style="padding-bottom:1%" formArrayName="optional">
                        <p-table [value]="obDetails.legalDocuments.optional" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of legalMOCols">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <tr *ngIf="doc.changed === '0'">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '1'" class="edited-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '2'" class="new-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                                <tr *ngIf="doc.changed === '3'" class="deleted-field">
                                    <td>{{ doc.documentName }}</td>
                                    <td>{{ doc.agmtCode }}</td>
                                    <td>{{ doc.remarks }}</td>
                                    <td *ngIf="doc.signature">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.signature">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td *ngIf="doc.canWaiver">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td *ngIf="!doc.canWaiver">
                                        <i class="fa fa-times"></i>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-card>
        </div>

        <button pButton label="Save Changes" class="ui-button-success" style="width: 100%" type="button" icon="far fa-save" (click)="updateOnboardProcess()"></button>
    </div>
</div>