<div *ngIf="!loading">
    <form [formGroup]="questionForm" class="search-container">
        <input type="text" formControlName="question" class="form-control" (keyup.enter)="searchFAQ()" id="search-bar" autocomplete="off"
            placeholder="What would you like to search for?" required pInputText>
        <div class="search-icon" (click)="searchFAQ()">
            <i class="fa fa-search"></i>
        </div>
    </form>
    <br>

    <div class="ui-g" style="display: inline;">
        <div class="ui-g-8" style="display: flex; padding: 0px 0px;">
            <ng-container *ngIf="!searched">
                <div style="padding-left: 0px;">
                    <p style="margin-bottom: 2px;">Select Category:</p>
                    <p-dropdown [options]="categoryOptions" [(ngModel)]="selectedCategory" placeholder="Select an option" (onChange)="filterAndSortBy()"></p-dropdown>
                </div>
                <div style="margin-left: 30px;">
                    <p style="margin-bottom: 2px;">Sort By:</p>
                    <p-dropdown [options]="sortByOptions" [(ngModel)]="selectedSortBy" placeholder="Select an option" (onChange)="filterAndSortBy()"></p-dropdown>
                </div>
                <div class="clickable" style="margin-left: 30px; margin-top: 26px;" (click)="retrieveFAQ()">
                    <img src="assets/images/icon/delete-button.png" style="width:15px; height:15px; margin-right:5px;">
                    <span>Remove filters</span>
                </div>
            </ng-container>
            <ng-container *ngIf="searched">
                <div class="clickable" style="display: flex; align-items: center; padding: 0px 0px; margin-top: 5%;" (click)="exitResult()">
                    <i class="fas fa-angle-double-left fa-2x"></i>
                    <h5 style="margin-bottom: 0px; margin-left: 10px;">Return to view all FAQs</h5>
                </div>
            </ng-container>
        </div>

        <div class="ui-g-4">
            <div>
                <button pButton label="Ask a Question" class="ui-button-success" style="float: right; margin-top: 7%;" type="submit" icon="fas fa-share-square"
                    (click)="showConfirmDialog()"></button>
            </div>
        </div>
    </div>

    <p-dialog header="Confirmation" [(visible)]="confirmDialog" [modal]="true" [width]="auto">
        <div style="font-size: 14px; font-weight: 400; margin:10px;">
            Have you searched for your question?
        </div>
        <p-footer>
            <button pButton label="Yes" type="button" (click)="showAskDialog()"></button>
            <button pButton label="No" type="button" (click)="hideConfirmDialog()"></button>
        </p-footer>
    </p-dialog>

    <p-dialog styleClass="askDialog" header="Ask a Question" [(visible)]="askDialog" [closable]="true" [modal]="true" [maximizable]="true">
        <div style="margin-top: 10px; font-size: 15px; font-weight: 600">
            You are asking:
        </div>
        <form [formGroup]="newQuestionForm">
            <textarea class="form-control" formControlName="newQuestion" style="width: 100%; height: 100px;" size="30" #msgInput (keydown.enter)="confirmText(msgInput.value);false"
                pInputText></textarea>
        </form>

        <p-footer>
            <button pButton label="Done" class="ui-button-success" type="button" (click)="postNewQuestion()"></button>
            <button pButton label="Cancel" class="ui-button-danger" type="button" (click)="hideAskDialog()"></button>
        </p-footer>

    </p-dialog>

    <p-card id="scrollHere" styleClass="ui-card-shadow">
        <div *ngIf="!searched">
            <h4>Frequently Asked Questions</h4>
        </div>
        <div *ngIf="searched">
            <h4>Displaying search results for "{{ currentSearch }}"</h4>
        </div>
        <div *ngIf="faqs.length === 0">
            <h5>
                There are no questions yet!
            </h5>
        </div>
        <div *ngIf="faqs.length > 0">
            <ng-container *ngFor="let faq of faqs; let i=index">
                <ng-container *ngIf="i >= firstIndex && i < lastIndex">
                    <p-card class="questionCard clickable" (click)="showAnswerDialog(i)">
                        <div class="ui-g">
                            <div class="ui-g-9">
                                <div class="question" style="color:#3989e1; margin-bottom:12px">
                                    {{faq.question}}
                                </div>
                                <div style="font-size: 12px; font-weight: 600">
                                    <p>Posted on: {{faq.dateAsked}}</p>
                                </div>
                            </div>
                            <div class="ui-g-3">
                                <div style="float: right; font-size: 12px; font-weight: 400">
                                    {{faq.views}} views
                                </div>
                            </div>
                        </div>
                    </p-card>
                </ng-container>
            </ng-container>
        </div>
        <ng-container *ngIf="faqs.length > 0">
            <p-paginator [rows]="10" [totalRecords]="numFAQs" (onPageChange)="paginate($event)"></p-paginator>
        </ng-container>
    </p-card>

    <ng-container *ngIf="answerDialog">
        <p-dialog styleClass="ansDialog" header="Answer View" [(visible)]="answerDialog" [closable]="true" [modal]="true" [maximizable]="true">
            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                <i>Question:</i>
            </div>
            <div class="ui-g">
                <div class="ui-g-10 qnsInDialog" style="color:#3989e1; margin-bottom:12px">
                    {{faqs[currentIndex].question}}
                </div>
                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                    <!-- <p>Posted by: Jarrett Goh</p> -->
                    <p>Posted on:</p>
                    <p>{{faqs[currentIndex].dateAsked}}</p>
                </div>
            </div>
            <hr>

            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                <i>Answer:</i>
            </div>
            <div class="ui-g">
                <div class="ui-g-10 ansInDialog" style="font-size: 14px; font-weight: 600; color:black;">
                    <div [innerHTML]="faqs[currentIndex].answer"></div>
                </div>

                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                    <!-- <p>Answered by: Randy Lai</p> -->
                    <p>Answered on:</p> 
                    <p>{{faqs[currentIndex].dateAnswered}}</p>
                </div>
            </div>

            <div style="float: right">
                {{faqs[currentIndex].views}} views
            </div>
        </p-dialog>
    </ng-container>
</div>