<p-card *ngIf="!loading" styleClass="ui-card-shadow">
    <h3>User List</h3>
    <p-table [columns]="cols" [value]="users" selectionMode="single">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-columns="columns">
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.userType }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>