<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <div class="form-signin" [formGroup]="loginForm">
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" formControlName="username" required pInputText>
            <div class="error-inline-msg">
                <span *ngIf="loginForm.controls['username'].dirty && !loginForm.controls['username'].valid">
                    Please enter your username
                </span>
            </div>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required
                pInputText>
            <div class="error-inline-msg">
                <span *ngIf="loginForm.controls['password'].dirty && !loginForm.controls['password'].valid">
                    Please enter your password
                </span>
            </div>
            <div class="error-label">
                <span *ngIf="!isValidUser">
                    Invalid username/password
                </span>
            </div>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" [disabled]="loading" (click)="loginUser()">Sign In</button>
        </div>
        <!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->