<p-card *ngIf="!loading" [style]="{width: '60%'}" styleClass="ui-card-shadow">
    <div class="form-create" [formGroup]="createUserForm">
        <h3>Create New User</h3>
        <br>
        <h4>Name</h4>
        <input type="text" id="inputName" class="form-control" placeholder="Name" formControlName="name" required pInputText>
        <div class="error-inline-msg">
            <span *ngIf="createUserForm.controls.name.dirty && createUserForm.controls.name.errors?.required">
                Please fill in the name field
            </span>
        </div>
        <h4>Username</h4>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" formControlName="username" required pInputText>
        <div class="error-inline-msg">
            <span *ngIf="createUserForm.controls.username.dirty && createUserForm.controls.username.errors?.required">
                Please fill in the username field
            </span>
            <span *ngIf="createUserForm.controls.username.dirty && createUserForm.controls.username.errors?.usernameExists">
                Username exists, choose another username
            </span>
        </div>
        <h4>Email</h4>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email Address" formControlName="email" required pInputText>
        <div class="error-inline-msg">
            <span *ngIf="createUserForm.controls.email.dirty && createUserForm.controls.email.errors?.required">
                Please fill in the email field
            </span>
            <span *ngIf="createUserForm.controls.email.dirty && createUserForm.controls.email.errors?.email">
                Please enter a valid email
            </span>
            <span *ngIf="createUserForm.controls.email.dirty && createUserForm.controls.email.errors?.emailExists">
                Email exists, use another email
            </span>
        </div>

        <h4>User Type</h4>
        <p-dropdown [options]="userTypes" formControlName="userType" placeholder="Select User Type"></p-dropdown>
        <div class="error-inline-msg" style="padding-top: 10px; padding-bottom: 20px">
            <span *ngIf="createUserForm.controls.userType.dirty && createUserForm.controls.userType.errors?.required">
                Please fill in the user type field
            </span>
        </div>

        <div [formGroup]="passwordForm">
            <h4>Password</h4>
            Passwords must:<br>
            - be at least 6 characters long<br>
            - contain upper and lowercase letters<br>
            - contain at least one number<br>
            - contain at least one special character<br><br>
            <div style="width: 100%; padding-bottom: 2%">
                <input type="password" style="width:30%" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required
                    pInputText>

                <div style="display:inline-block" *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.required; else checkLength">
                    <p-message severity="error" text="Field is required"></p-message>
                </div>
                
                <ng-template #checkLength>
                    <div style="display:inline-block" *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.minlength; else checkCase">
                        <p-message severity="error" text="At least 6 characters"></p-message>
                    </div>
                </ng-template> 

                <ng-template #checkCase>
                    <div style="display:inline-block" *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.caseError; else checkNum">
                        <p-message severity="error" text="Contains upper and lowercase letters"></p-message>
                    </div>
                </ng-template>

                <ng-template #checkNum>
                    <div style="display:inline-block" *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.numberError; else checkChar">
                        <p-message severity="error" text="Contains one number"></p-message>
                    </div>
                </ng-template>

                <ng-template #checkChar>
                    <div style="display:inline-block" *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.specialCharError">
                        <p-message severity="error" text="Contains one special character"></p-message>
                    </div>
                </ng-template>
            </div>

            <h4>Confirm Password</h4>
            <div style="width: 100%; padding-bottom: 2%">
                <input type="password" style="width:30%" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"
                    required pInputText>

                <div style="display:inline-block" *ngIf="passwordForm.controls.confirmPassword.dirty && passwordForm.controls.confirmPassword.errors?.required; else checkPass">
                    <p-message severity="error" text="Field is required"></p-message>
                </div>

                <ng-template #checkPass>
                    <div style="display:inline-block" *ngIf="passwordForm.controls.confirmPassword.dirty && passwordForm.errors?.mismatch">
                        <p-message severity="error" text="Passwords do not match"></p-message>
                    </div>
                </ng-template>
            </div>
        </div>

        <button pButton label="Create" class="ui-button-success" type="button" [disabled]="loading" (click)="createUser()"></button>
    </div>
</p-card>