<p-confirmDialog></p-confirmDialog>

<div *ngIf="!loading">
    <p-card styleClass="ui-card-shadow">
        <h4>My Answers</h4>
        <p-tabView id="scrollHere" [activeIndex]="activeTab" (onChange)="changeTab($event)">
            <p-tabPanel header="Answered">
                <div *ngIf="faqs.length === 0">
                    <h5>
                        There are no answers yet!
                    </h5>
                </div>
                <div *ngIf="faqs.length > 0">
                    <ng-container *ngFor="let faq of faqs; let i=index">
                        <ng-container *ngIf="i >= firstIndex && i < lastIndex">
                            <p-card class="questionCard clickable" (click)="showAnsweredDialog(i)">
                                <div class="ui-g">
                                    <div class="ui-g-9">
                                        <div class="question" style="color:#3989e1; margin-bottom:12px">
                                            {{faqs[i].question}}
                                        </div>
                                        <div style="font-size: 12px; font-weight: 600">
                                            <p>Posted by: {{faqs[i].username}}, {{faqs[i].dateAsked}}</p>
                                        </div>
                                    </div>
                                    <div class="ui-g-3">
                                        <div style="float: right; font-size: 12px; font-weight: 400">
                                            {{faqs[i].views}} views
                                        </div>
                                    </div>
                                </div>
                            </p-card>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="answeredDialog">
                        <p-dialog #dialogAnswered header="Answer View" [autoZIndex]="false" [(visible)]="answeredDialog"
                            [closable]="true" [modal]="true" [maximizable]="true" (onHide)="hideAnswerDialog()">
                            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                                <i>Question:</i>
                                <div style="float: right; padding-right: 6px">
                                    {{faqs[currentIndex].views}} views
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-10 qnsInDialog" style="color:#3989e1; margin-bottom:12px">
                                    {{faqs[currentIndex].question}}
                                </div>
                                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                                    <p>By: {{faqs[currentIndex].username}}</p>
                                    <p>{{faqs[currentIndex].dateAsked}}</p>
                                </div>
                            </div>
                            <hr>

                            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                                <i>Answer:</i>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-10 ansInDialog" style="color:black;">
                                    <ng-container *ngIf="!showAnsEditArea">
                                        <div style="font-size: 14px; font-weight: 600; color:black;" [innerHTML]="faqs[currentIndex].answer"></div>
                                        <ng-container *ngIf="faqs[currentIndex].refPages && faqs[currentIndex].refPages.length > 0">
                                            <p-card styleClass="pageReferences">
                                                Refer to the following page(s) on REG51:
                                                <ng-container *ngFor="let ref of faqs[currentIndex].refPages; let len=index">
                                                    <ng-container *ngIf="len !== faqs[currentIndex].refPages.length-1">
                                                        <a href="javascript:void(0)" (click)="openPDF(ref)">{{ref}},
                                                        </a>
                                                    </ng-container>
                                                    <ng-container *ngIf="len === faqs[currentIndex].refPages.length-1">
                                                        <a href="javascript:void(0)" (click)="openPDF(ref)">{{ref}}</a>
                                                    </ng-container>
                                                </ng-container>
                                            </p-card>
                                        </ng-container>

                                        <!-- Display referenced similar question -->
                                        <ng-container *ngIf="faqs[currentIndex].qnIDRef">
                                            <p-card styleClass="pageReferences">
                                                Refer to the following similar question: <br>
                                                <ng-container *ngIf="similarQn">
                                                    <b>Question: </b>{{similarQn.question}} <br>
                                                    <b>Answer: </b>{{similarQn.answer}} <br>
                                                    <br>
                                                    Refer to the following page(s) on REG51:
                                                    <ng-container *ngFor="let ref of similarQn.refPages; let len=index">
                                                        <ng-container *ngIf="len !== similarQn.refPages.length-1">
                                                            <a href="javascript:void(0)" (click)="openPDF(ref)">{{ref}},
                                                            </a>
                                                        </ng-container>
                                                        <ng-container *ngIf="len === similarQn.refPages.length-1">
                                                            <a href="javascript:void(0)" (click)="openPDF(ref)">{{ref}}</a>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </p-card>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="showAnsEditArea">
                                        <p-card styleClass="reference">
                                            <div style="align-items: center; display: flex;">
                                                <div style="margin-right: 15px">
                                                    <p-checkbox name="groupname" binary="true" label="Include Reference to Reg51?"
                                                        [(ngModel)]="includePDF" [ngModelOptions]="{standalone: true}"></p-checkbox>
                                                </div>
                                                <div *ngIf="includePDF" style="align-items: center">
                                                    <p-multiSelect [options]="pdfPages" [(ngModel)]="selectedPages"
                                                        [ngModelOptions]="{standalone: true}" [panelStyle]="{minWidth:'12em'}"
                                                        defaultLabel="Select pages to refer to" filterPlaceHolder="Search Pages"></p-multiSelect>
                                                </div>
                                            </div>
                                        </p-card>
                                        <ngx-wig [formControl]="answerForm.controls.editedAnswer" [placeholder]="'Enter answer here'"></ngx-wig>
                                    </ng-container>
                                </div>

                                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                                    <p>By: {{faqs[currentIndex].CMusername}}</p>
                                    <p>{{faqs[currentIndex].dateAnswered}}</p>
                                </div>
                            </div>

                            <ng-container *ngIf="!showAnsEditArea">
                                <div class="ui-g" style="padding-top: 2%">
                                    <div class="ui-g-8">
                                        <button pButton style="margin-right:1%;" class="ui-button-warning" label="Edit Answer"
                                            type="button" icon="fa fa-pencil" (click)="showEditAnswerArea(currentIndex)"
                                            (click)="showDialogMaximized($event,dialogAnswered)"></button>
                                        <ng-container *ngIf="faqs[currentIndex].prevAnswer">
                                            <button pButton style="margin-right:1%;" class="ui-button-secondary" label="View History"
                                                type="button" icon="fas fa-history" (click)="showHistoryDialog()"></button>
                                        </ng-container>
                                    </div>
                                    <div class="ui-g-4">
                                        <button pButton style="margin-left:1%; float: right" class="ui-button-danger"
                                            label="Delete Question" type="button" icon="fa fa-times" (click)="deleteAnsweredQuestion(currentIndex)"></button>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="showAnsEditArea">
                                <div class="ui-g" style="padding-top: 0px">
                                    <button pButton style="width:18%" class="ui-button-success" label="Save Answer"
                                        type="button" icon="far fa-save" (click)="saveAnsweredQuestion(currentIndex)"
                                        [disabled]="processing"></button>
                                    <button pButton style="width:18%; margin-left: 1%" class="ui-button-danger" label="Cancel"
                                        type="button" icon="fa fa-times" (click)="hideAnsEditArea()"></button>
                                </div>
                            </ng-container>
                        </p-dialog>
                        <ng-container *ngIf="historyDialog">
                            <p-dialog #answerHistory header="Past Answers" styleClass="pastAnswers" [minHeight]="50"
                                [autoZIndex]="false" [(visible)]="historyDialog" [closable]="true" [maximizable]="true"
                                [modal]="true">
                                <ng-container *ngFor="let pastAns of faqs[currentIndex].prevAnswer; let i=index">
                                    <ng-container *ngIf="faqs[currentIndex].prevAnswer.length !== 0">
                                        <div class="ui-g">
                                            <div class="ui-g-10" style="font-size: 14px; font-weight: 600; color:black;">
                                                <ng-container *ngIf="!pastAns.qnIDRef">
                                                    <div [innerHTML]="pastAns.answer"></div>
                                                </ng-container>
                                                <ng-container *ngIf="pastAns.qnIDRef">
                                                    <ng-container *ngFor="let historySimilarFaq of historySimilarFaqs; let j=index">
                                                        <div *ngIf="i === j">
                                                            Linked similar question: <br>
                                                            Question: {{ historySimilarFaq.question }} <br>
                                                            Answer: {{ historySimilarFaq.answer }}
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                            <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 500">
                                                <p>By: {{pastAns.CMusername}}</p>
                                                <p>{{pastAns.dateAnswered}}</p>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="i !== faqs[currentIndex].prevAnswer.length-1">
                                            <hr style="margin: 10px 10px;">
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </p-dialog>
                        </ng-container>
                    </ng-container>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Answers Overwritten">
                <div *ngIf="faqs.length === 0">
                    <h5>
                        There are no answers yet!
                    </h5>
                </div>
                <div *ngIf="faqs.length > 0">
                    <ng-container *ngFor="let faq of faqs; let i=index">
                        <ng-container *ngIf="i >= firstIndex && i < lastIndex">
                            <p-card class="questionCard clickable" (click)="showAnsweredDialog(i)">
                                <div class="ui-g">
                                    <div class="ui-g-9">
                                        <div class="question" style="color:#3989e1; margin-bottom:12px">
                                            {{faqs[i].question}}
                                        </div>
                                        <div style="font-size: 12px; font-weight: 600">
                                            <p>Posted by: {{faqs[i].username}}, {{faqs[i].dateAsked}}</p>
                                        </div>
                                    </div>
                                    <div class="ui-g-3">
                                        <div style="float: right; font-size: 12px; font-weight: 400">
                                            {{faqs[i].views}} views
                                        </div>
                                    </div>
                                </div>
                            </p-card>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="OAnsweredDialog">
                        <p-dialog #dialogAnswered header="Answer View" [autoZIndex]="false" [(visible)]="OAnsweredDialog"
                            [closable]="true" [modal]="true" [maximizable]="true" (onHide)="hideAnswerDialog()">
                            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                                <i>Question:</i>
                                <div style="float: right; padding-right: 6px">
                                    {{faqs[currentIndex].views}} views
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-10 qnsInDialog" style="color:#3989e1; margin-bottom:12px">
                                    {{faqs[currentIndex].question}}
                                </div>
                                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                                    <p>By: {{faqs[currentIndex].username}}</p>
                                    <p>{{faqs[currentIndex].dateAsked}}</p>
                                </div>
                            </div>
                            <hr>

                            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                                <i>Answer:</i>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-10 ansInDialog" style="color:black;">
                                    <ng-container *ngIf="!showAnsEditArea">
                                        <div style="font-size: 14px; font-weight: 600; color:black;" [innerHTML]="faqs[currentIndex].answer"></div>
                                        <ng-container *ngIf="faqs[currentIndex].refPages && faqs[currentIndex].refPages.length > 0 ">
                                            <p-card styleClass="pageReferences">
                                                Refer to the following page(s) on REG51:
                                                <ng-container *ngFor="let ref of faqs[currentIndex].refPages; let len=index">
                                                    <ng-container *ngIf="len !== faqs[currentIndex].refPages.length-1">
                                                        <a href="javascript:void(0)" (click)="openPDF(ref)">{{ref}},
                                                        </a>
                                                    </ng-container>
                                                    <ng-container *ngIf="len === faqs[currentIndex].refPages.length-1">
                                                        <a href="javascript:void(0)" (click)="openPDF(ref)">{{ref}}</a>
                                                    </ng-container>
                                                </ng-container>
                                            </p-card>
                                        </ng-container>

                                        <!-- Display referenced similar question -->
                                        <ng-container *ngIf="faqs[currentIndex].qnIDRef">
                                            <p-card styleClass="pageReferences">
                                                Refer to the following similar question: <br>
                                                <ng-container *ngIf="similarQn">
                                                    <b>Question: </b>{{similarQn.question}} <br>
                                                    <b>Answer: </b>{{similarQn.answer}} <br>
                                                    <br>
                                                    Refer to the following page(s) on REG51:
                                                    <ng-container *ngFor="let ref of similarQn.refPages; let len=index">
                                                        <ng-container *ngIf="len !== similarQn.refPages.length-1">
                                                            <a href="javascript:void(0)" (click)="openPDF(ref)">{{ref}},
                                                            </a>
                                                        </ng-container>
                                                        <ng-container *ngIf="len === similarQn.refPages.length-1">
                                                            <a href="javascript:void(0)" (click)="openPDF(ref)">{{ref}}</a>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </p-card>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="showAnsEditArea">
                                        <p-card styleClass="reference">
                                            <div style="align-items: center; display: flex;">
                                                <div style="margin-right: 15px">
                                                    <p-checkbox name="groupname" binary="true" label="Include Reference to Reg51?"
                                                        [(ngModel)]="includePDF" [ngModelOptions]="{standalone: true}"></p-checkbox>
                                                </div>
                                                <div *ngIf="includePDF" style="align-items: center">
                                                    <p-multiSelect [options]="pdfPages" [(ngModel)]="selectedPages"
                                                        [ngModelOptions]="{standalone: true}" maxSelectedLabel='5'
                                                        [panelStyle]="{minWidth:'12em'}" defaultLabel="Select pages to refer to"
                                                        filterPlaceHolder="Search Pages"></p-multiSelect>
                                                </div>
                                            </div>
                                        </p-card>
                                        <ngx-wig [formControl]="answerForm.controls.editedAnswer" [placeholder]="'Enter answer here'"></ngx-wig>
                                    </ng-container>
                                </div>

                                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                                    <p>By: {{faqs[currentIndex].CMusername}}</p>
                                    <p>{{faqs[currentIndex].dateAnswered}}</p>
                                </div>
                            </div>
                            <!--BUTTONS TO DISPLAY-->
                            <ng-container *ngIf="!showAnsEditArea">
                                <div class="ui-g" style="padding-top: 2%">
                                    <div class="ui-g-8">
                                        <button pButton style="margin-right:1%;" class="ui-button-warning" label="Edit Answer"
                                            type="button" icon="fa fa-pencil" (click)="showEditAnswerArea(currentIndex)"
                                            (click)="showDialogMaximized($event,dialogAnswered)"></button>
                                        <ng-container *ngIf="faqs[currentIndex].prevAnswer">
                                            <button pButton style="margin-right:1%;" class="ui-button-secondary" label="View History"
                                                type="button" icon="fas fa-history" (click)="showHistoryDialog()"></button>
                                        </ng-container>
                                    </div>
                                    <div class="ui-g-4">
                                        <button pButton style="margin-left:1%; float: right" class="ui-button-danger"
                                            label="Delete Question" type="button" icon="fa fa-times" (click)="deleteAnsweredQuestion(currentIndex)"></button>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="showAnsEditArea">
                                <div class="ui-g" style="padding-top: 0px">
                                    <button pButton style="width:18%" class="ui-button-success" label="Save Answer"
                                        type="button" icon="far fa-save" (click)="saveAnsweredQuestion(currentIndex)"
                                        [disabled]="processing"></button>
                                    <button pButton style="width:18%; margin-left: 1%" class="ui-button-danger" label="Cancel"
                                        type="button" icon="fa fa-times" (click)="hideAnsEditArea()"></button>
                                </div>
                            </ng-container>
                        </p-dialog>
                        <ng-container *ngIf="OHistoryDialog">
                            <p-dialog #answerHistory header="Past Answers" styleClass="pastAnswers" [minHeight]="50"
                                [autoZIndex]="false" [(visible)]="OHistoryDialog" [closable]="true" [maximizable]="true"
                                [modal]="true">
                                <ng-container *ngFor="let pastAns of faqs[currentIndex].prevAnswer; let i=index">
                                    <ng-container *ngIf="faqs[currentIndex].prevAnswer.length !== 0">
                                        <div class="ui-g">
                                            <div class="ui-g-10" style="font-size: 14px; font-weight: 600; color:black;">
                                                <ng-container *ngIf="!pastAns.qnIDRef">
                                                    <div [innerHTML]="pastAns.answer"></div>
                                                </ng-container>
                                                <ng-container *ngIf="pastAns.qnIDRef">
                                                    <ng-container *ngFor="let historySimilarFaq of historySimilarFaqs; let j=index">
                                                        <div *ngIf="i === j">
                                                            Linked similar question: <br>
                                                            Question: {{ historySimilarFaq.question }} <br>
                                                            Answer: {{ historySimilarFaq.answer }}
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                            <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 500">
                                                <p>By: {{pastAns.CMusername}}</p>
                                                <p>{{pastAns.dateAnswered}}</p>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="i !== faqs[currentIndex].prevAnswer.length-1">
                                            <hr style="margin: 10px 10px;">
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </p-dialog>
                        </ng-container>
                    </ng-container>
                </div>
            </p-tabPanel>
        </p-tabView>
        <ng-container *ngIf="faqs.length > 0">
            <p-paginator [rows]="10" [totalRecords]="numFAQs" (onPageChange)="paginate($event)"></p-paginator>
        </ng-container>
    </p-card>
</div>