<p-growl [(value)]="msgs" [life]="5000" [style]="{zIndex:99999999}"></p-growl>

<div style="padding-bottom: 10px">
    <p-card styleClass="ui-card-shadow">
        <form [formGroup]="questionForm">
            <h4>Have a Question?</h4>
            <div class="ui-g">
                <input type="text" id="input" class="form-control" style="width: 80%" placeholder="Ask a question"
                    formControlName="question" required pInputText>
            </div>
            <button pButton label="Search" class="ui-button-primary" style="width: 15%; margin-top: 1%" type="submit"
                icon="fas fa-search" (click)="retrieveFAQ()" [disabled]="loading"></button>

            <p-progressSpinner *ngIf="loading" strokeWidth="8" [style]="{'width': '25px', 'height': '25px', 'margin-left': '0.5%'}"></p-progressSpinner>
        </form>
    </p-card>
</div>

<div *ngIf="!loading">
    <div *ngIf="searched">
        <p-card styleClass="ui-card-shadow">
            <div *ngIf="faqs.length === 0">
                <h4>
                    Sorry, this question has not been asked yet!
                    <button pButton label="Ask now!" class="ui-button-primary" style="width: 15%; margin-top: 1%" type="button"
                        icon="fas fa-question" (click)="showNewFAQForm()"></button>
                </h4>

                <form *ngIf="showNewQnForm" [formGroup]="newQuestionForm">
                    <div class="ui-g">
                        <input type="text" id="input" class="form-control" style="width: 80%" placeholder="Ask a new question"
                            formControlName="newQuestion" pInputText>
                    </div>
                    <button pButton label="Post" class="ui-button-primary" style="width: 15%; margin-top: 1%" type="submit"
                        icon="fas fa-share-square" (click)="postNewQuestion()"></button>
                </form>
            </div>
            <div *ngIf="faqs.length > 0">
                <h4>Frequently Asked Questions</h4>
                <p-accordion [multiple]="true">
                    <ng-container *ngFor="let faq of faqs; let i=index">
                        <p-accordionTab header="{{ faq.question }}">
                            {{ faq.answer }}
                        </p-accordionTab>
                    </ng-container>
                </p-accordion>
            </div>
        </p-card>
    </div>
</div>