<p-growl [(value)]="msgs" [life]="5000" [style]="{zIndex:99999999}"></p-growl>

<div style="padding-bottom: 10px">
    <p-card styleClass="ui-card-shadow">
        <form [formGroup]="questionForm">
            <h4>Have a Question?</h4>
            <div class="ui-g">
                <input type="text" id="input" class="form-control" style="width: 80%" placeholder="Search for a question" formControlName="question"
                    required pInputText>
            </div>
            <button pButton label="Search" class="ui-button-primary" style="width: 15%; margin-top: 1%" type="submit" icon="fas fa-search"
                (click)="retrieveFAQ()" [disabled]="loading"></button>

            <p-progressSpinner *ngIf="loading" strokeWidth="8" [style]="{'width': '25px', 'height': '25px', 'margin-left': '0.5%'}"></p-progressSpinner>
        </form>
    </p-card>
</div>

<div *ngIf="!loading">
    <div *ngIf="searched">
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <div>
                    <h4>
                        None of the answers helped you?
                        <button pButton label="Ask now!" class="ui-button-primary" style="width: 15%; margin-top: 1%" type="button" icon="fas fa-question"
                            (click)="showNewFAQForm()"></button>
                    </h4>

                    <form *ngIf="showNewQnForm" [formGroup]="newQuestionForm">
                        <div class="ui-g">
                            <input type="text" id="input" class="form-control" style="width: 80%" placeholder="Ask a new question" formControlName="newQuestion"
                                pInputText>
                        </div>
                        <button pButton label="Post" class="ui-button-primary" style="width: 15%; margin-top: 1%" type="submit" icon="fas fa-share-square"
                            (click)="postNewQuestion()"></button>
                    </form>
                </div>
            </p-card>
        </div>

        <div>
            <p-card styleClass="ui-card-shadow">
                <h4>Frequently Asked Questions</h4>
                <p-dataScroller [value]="faqs" [rows]="10">
                    <ng-template let-faq pTemplate="items" ;>
                        <p-card class="questions">
                            <div class="ui-g">
                                <div class="ui-g-9">
                                    <div class="question clickable" style="color:#3989e1; margin-bottom:12px" (click)="showAnswerDialog(faq.qnID,faq.question,faq.answer)">
                                        {{faq.question}}
                                    </div>
                                    <strong>Posted on: 19/10/2018</strong>
                                </div>
                                <div class="ui-g-3">
                                    <div style="float: right; font-size: 12px; font-weight: 400">
                                        100 views
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </ng-template>
                </p-dataScroller>
            </p-card>
        </div>

        <p-dialog header="Answer View" [(visible)]="answerDialog" [closable]="true" [modal]="true" [maximizable]="true">
            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                <i>Question:</i>
            </div>
            <div class="ui-g">
                <div class="ui-g-10 qnsInDialog" style="color:#3989e1; margin-bottom:12px">
                    {{this.currentQuestion}}
                </div>
                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                    <!-- <p>Posted by: Jarrett Goh</p> -->
                    <p>Posted on: 19/10/2018</p>
                </div>
            </div>
            <hr>

            <div style="font-size: 12px; font-weight: 600; padding-left: 7px">
                <i>Answer:</i>
            </div>
            <div class="ui-g">
                <div class="ui-g-10 ansInDialog" style="color:black; margin-bottom:12px">
                    <div [innerHTML]="this.currentAnswer"></div>
                </div>

                <div class="ui-g-2" style="text-align: right; font-size: 12px; font-weight: 400">
                    <!-- <p>Answered by: Randy Lai</p> -->
                    <p>Answered on: 20/10/2018</p>
                </div>
            </div>

            <div style="float: right">
                100 views
            </div>

        </p-dialog>
    </div>
</div>