<span>
    Current Onboarding
    <a routerLink="../onboard/create">
        <button pButton class="ui-button-success" style="float: right;" label="New Onboarding Process" type="button" icon="fa fa-plus"></button>
    </a>
</span>

<div *ngIf="!loading" style="padding-top: 20px">
    <div *ngIf="obProcesses.length === 0">
        No current onboard processes
    </div>
    <div *ngIf="obProcesses.length > 0">
        <div *ngFor="let obProcess of obProcesses; let i=index">
            <p-card styleClass="ui-card-shadow" (click)="editOnboardProcess(i)">
                <div *ngIf="obProcess.progress === 100">
                    <div *ngIf="obProcess.urgent">
                        <button pButton class="ui-button-warning" (click)="toggleUrgent(i)" style="float: right;" label="Urgent" type="button"></button>
                    </div>
                    <div *ngIf="!obProcess.urgent">
                        <button pButton class="ui-button-secondary" (click)="toggleUrgent(i)" style="float: right;" label="Urgent" type="button"></button>
                    </div>
                </div>

                <div class="ui-g">
                    <div style="display: inline-block" class="ui-g-4">
                        <div *ngFor="let requiredField of obProcess.requiredFields; let j=index">
                            <b>{{ requiredField.fieldName }}:</b> {{ requiredField.fieldValue }}
                        </div>
                    </div>

                    <div style="width: 30%" class="ui-g-4">
                        <div *ngFor="let condition of obProcess.conditions; let j=index">
                            <b>{{ condition.conditionName }}:</b> {{ condition.conditionValue }}
                        </div>
                    </div>
                    <div style="width: 30%; padding-bottom: 1%" class="ui-g-4">
                        <p><b>Type: </b>{{ obProcess.type }}</p>
                        <p><b>Progress: </b>{{ obProcess.progress }}%</p>
                    </div>
                </div>

                <p-progressBar class="progress-bar" [value]="obProcess.progress" [style]="{'height': '6px'}"></p-progressBar>
            </p-card>
            <div style="height: 10px"></div>
        </div>
    </div>
</div>