/*
 CONTAINERS FOR DASHBOARD 
*/

body{
    background-color: #f4f6f9;
  }
  
  hr{
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  .container1 { 
      display: grid;
      height: 100%;
      width: 100%;   
      grid-template: 100% / 25% 40% 35%;
      border: 1px solid blue;
      grid-gap: 1px;
  }
  
  .container2 { 
      display: grid;
      height: 100%;
      width: 100%;   
      grid-template: 50% 50%;
      border: 1px solid blue;
      grid-gap: 1px;
  }
  
  .container1 .inner{
      display: grid; 
      height: 100%;
      width: 100%;
      grid-area: 1/ 1 / span 1 / span 1;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      border: 1px solid blue;
  }   
  
  /*
   DASHBOARD'S CARDS
  */ 
  p-card {
      float: left;
      margin-right: 1%;  
      border-radius: 20px;
  }
  
  :host >>>  .custom-card1 .ui-card {
    background-color: red;
  } 
  
  
  :host >>> .ui-card-title {
    font-size: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: rgb(8, 87, 8);
  } 
  
  :host >>> .ui-datatable-thead > tr > th {
    background: red;
    color: red;
    background-color: red;
  }
  
  .completed {
      width: 100%;
      height: 100%;
      grid-row: 1 / span 1;
      background-color: black;
  }
  
  .style1  {
      height: 100%;
      width: 100%;
      margin: 10px;  
  }
  
  .pending {
      width: 100%;
      height: 100%;
      grid-row: 2 / span 1;
  }
  
  .total {
      width: 100%;
      height: 100%;
      grid-row: 3 / span 1;
  }
  
  .cardP {
      font-weight: bold;
      text-transform: capitalize;
      text-align: right;
      font-size: 2em;
  }
  
  .lineChartBox{
      width: 90%;
      height: auto;
      grid-area: 1 / 2 / span 1 / span 1;
  }
  
  .lineChart{
      width: 100%;
      height: 60%;
      margin: 10px;
  }
  
  .table {
    width: 100%;
    height: 100%;
    margin: 10px;
  }
  
  .pieChart{
      width: 100%;
      height: 100%;
      margin: 10px;
  }
  
  
  
  
  