.field { padding-top:1% }

.bButton {
    margin: 0;
    color: #ffffff;
    background-color: #499ad8 !important;
    border: 1px solid #499ad8 !important;
    font-size: 14px;
    transition: background-color 0.2s;
}

.bButton:hover
{
    background-color: #3c7cad  !important;
    color: white;
}