<p-growl [(value)]="msgs" [life]=5000></p-growl>

<p-card *ngIf="!loading" [style]="{width: '60%'}" styleClass="ui-card-shadow">
    <div class="form-create" [formGroup]="createUserForm">
        <h3>Create New User</h3>
        <br>
        <h4>Username</h4>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" formControlName="username" required pInputText>
        <div class="error-inline-msg">
            <span *ngIf="createUserForm.controls.username.dirty && createUserForm.controls.username.errors?.required">
                Please fill in the username field
            </span>
            <span *ngIf="createUserForm.controls.username.dirty && createUserForm.controls.username.errors?.usernameExists">
                Username exists, choose another username
            </span>
        </div>
        <h4>Email</h4>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email Address" formControlName="email" required pInputText>
        <div class="error-inline-msg">
            <span *ngIf="createUserForm.controls.email.dirty && createUserForm.controls.email.errors?.required">
                Please fill in the email field
            </span>
            <span *ngIf="createUserForm.controls.email.dirty && createUserForm.controls.email.errors?.email">
                Please enter a valid email
            </span>
            <span *ngIf="createUserForm.controls.email.dirty && createUserForm.controls.email.errors?.emailExists">
                Email exists, use another email
            </span>
        </div>

        <h4>User Type</h4>
        <p-dropdown [options]="userTypes" optionLabel="name" formControlName="userType" placeholder="Select User Type"></p-dropdown>
        <div class="error-inline-msg" style="padding-top: 10px; padding-bottom: 20px">
            <span *ngIf="createUserForm.controls.userType.dirty && createUserForm.controls.userType.errors?.required">
                Please fill in the user type field
            </span>
        </div>

        <h4>Password</h4>
        <div [formGroup]="passwordForm" style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: column; width: 44%">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required
                    pInputText>

                <div class="error-inline-msg">
                    <span *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.required">
                        Please fill in the password field
                    </span>
                    <span *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.minlength">
                        Password must be at least 6 characters
                    </span>
                    <span *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.caseError">
                        Password must contain upper and lowercase letters
                    </span>
                    <span *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.numberError">
                        Password must contain at least 1 number
                    </span>
                    <span *ngIf="passwordForm.controls.password.dirty && passwordForm.controls.password.errors?.specialCharError">
                        Password must contain at least 1 special character
                    </span>
                </div>
            </div>

            <div style="display: flex; flex-direction: column; width: 44%; margin-left: 2%">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"
                    required pInputText>

                <div class="error-inline-msg">
                    <span *ngIf="passwordForm.controls.confirmPassword.dirty && passwordForm.controls.confirmPassword.errors?.required">
                        Please fill in the confirm password field
                    </span>
                    <span *ngIf="passwordForm.controls.confirmPassword.dirty && passwordForm.errors?.mismatch">
                        Please make sure your passwords match
                    </span>
                </div>
            </div>
        </div>

        <button pButton label="Create" class="ui-button-success" type="button" [disabled]="loading" (click)="createUser()"></button>
    </div>
</p-card>