<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <img src="assets/images/bnp_paribas_logo.png" alt="homepage" class="dark-logo" />
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0 ">
                <!-- This is  -->
                <li class="nav-item m-l-10">
                    <a class="nav-link sidebartoggler hidden-lg-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0 ml-auto">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown" ngbDropdown placement="bottom-right" autoClose="false:outside"
                    (openChange)="toggleHasNew($event)">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="javascript:void(0)"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i *ngIf="!hasNew" class="fas fa-bell fa-lg"></i>
                        <i *ngIf="hasNew" class="fas fa-bell fa-lg" matBadge="{{ newCount }}" matBadgeColor="warn"
                            matBadgeSize="medium"></i>
                    </a>
                    <div class="dropdown-menu animated" ngbDropdownMenu>
                        <ul *ngIf="!loading" class="dropdown-user">
                            <div *ngIf="allNotifications.length === 0" style="text-align: center">
                                <a style="font-size: 14px" href="javascript:void(0)">No notifications</a>
                            </div>
                            <div *ngIf="allNotifications.length > 0">
                                <div *ngIf="!showAll">
                                    <div *ngIf="latestNotifications.length === 0" style="text-align: center">
                                        <a style="font-size: 14px" href="javascript:void(0)">No new notifications</a>
                                        <li role="separator" class="divider"></li>
                                        <div style="text-align: center">
                                            <a href="javascript:void(0)" (click)="showMore()">Show more</a>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="latestNotifications > 0">
                                        <ng-container *ngFor="let notification of latestNotifications; let i = index">
                                            <li>
                                                <a style="font-size: 12px" href="javascript:void(0)">{{ notification }}</a>
                                            </li>
                                            <ng-container *ngIf="i === latestNotifications.length - 1">
                                                <li role="separator" class="divider"></li>
                                                <div style="text-align: center">
                                                    <a href="javascript:void(0)" (click)="showMore()">Show more</a>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                <div *ngIf="showAll">
                                    <ng-container *ngFor="let notification of allNotifications; let i = index">
                                        <li>
                                            <a style="font-size: 12px" href="javascript:void(0)">{{ notification }}</a>
                                        </li>
                                        <ng-container *ngIf="i === allNotifications.length - 1">
                                            <li role="separator" class="divider"></li>
                                            <div style="text-align: center">
                                                <a href="javascript:void(0)" (click)="showLess()">Show less</a>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item hidden-sm-down search-box">
                    <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-search"></i>
                    </a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter">
                        <a class="srh-btn">
                            <i class="ti-close"></i>
                        </a>
                    </form>
                </li> -->
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown" ngbDropdown placement="bottom-right" autoClose="outside">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="javascript:void(0)"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/users/avatar.png" alt="user" class="profile-pic" />
                    </a>
                    <div class="dropdown-menu animated" ngbDropdownMenu>
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <img src="assets/images/users/avatar.png" alt="user">
                                    </div>
                                    <div class="u-text">
                                        <h4>{{name}}</h4>
                                        <p class="text-muted">{{email}}</p>
                                        <!-- <a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a> -->
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <!-- <li>
                                <a href="#">
                                    <i class="ti-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-wallet"></i> My Balance</a>
                            </li> -->
                            <!-- <li>
                                <a href="#">
                                    <i class="ti-email"></i> Inbox</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="ti-settings"></i> Account Settings</a>
                            </li> -->
                            <!-- <li role="separator" class="divider"></li> -->
                            <li>
                                <a [routerLink]="['/login']" [queryParams]="{'action': 'logout'}">
                                    <i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>