<p-growl [(value)]="msgs" [life]="5000" [style]="{zIndex:99999999}"></p-growl>
<p-confirmDialog></p-confirmDialog>

<div style="padding-bottom: 8px;">Current Onboarding</div>
<form class="search-container" [formGroup]="questionForm">
    <input type="text" id="search-bar" class="form-control" placeholder="Enter Client Name" (keyup.enter)="searchClient()" formControlName="question" required
        pInputText>
    <div class="search-icon" (click)="searchClient()">
        <i class="fa fa-search"></i>
    </div>
</form>
<br>

<div class="ui-g" style="display: inline; ">
    <div class="ui-g-3" style="padding-left: 0px">
        Sort by:
        <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSortOpt" (onChange)="onSortChange()"></p-dropdown>
    </div>

    <div class="ui-g-3" style="padding-left: 0px">
        Filter by:
        <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilterOpt" (onChange)="onFilterChange()"></p-dropdown>
    </div>

    <div class="ui-g-2 clickable" style="padding-top: 12px; padding-left: 0px; height: 50.67px" (click)="clearAll()">
        <img src="assets/images/icon/delete-button.png" style="width:15px; height:15px; margin-right:5px" >
        <u>clear all</u>
    </div>

    <div class="ui-g-4">
        <a routerLink="../create">
            <button pButton class="ui-button-success" style="float: right;" label="New Onboarding Process" type="button" icon="fa fa-plus"></button>
        </a>
    </div>
</div>

<div *ngIf="!loading" style="padding-top: 20px">
    <div *ngIf="obProcesses.length === 0">
        No current onboard processes
    </div>
    <div *ngIf="obProcesses.length > 0">
        <div *ngFor="let obProcess of obProcesses; let i=index">
            <p-card styleClass="ui-card-shadow">
                <div style="float:right">
                    <button pButton style="width:40%; margin-right:4%" class="ui-button-warning" label="Edit" type="button" icon="fa fa-pencil"
                        (click)="editOnboardProcess(i)"></button>
                    <button pButton style="width:50%" class="ui-button-danger" label="Delete" type="button" icon="fa fa-times" (click)="deleteOnboardProcess(i)"></button>
                </div>

                <div *ngIf="obProcess.progress === 100">
                    <div *ngIf="obProcess.urgent">
                        <button pButton class="ui-button-warning" (click)="toggleUrgent(i)" style="float: right;" label="Urgent" type="button"></button>
                    </div>
                    <div *ngIf="!obProcess.urgent">
                        <button pButton class="ui-button-secondary" (click)="toggleUrgent(i)" style="float: right;" label="Urgent" type="button"></button>
                    </div>
                </div>

                <div class="ui-g">
                    <div style="display: inline-block" class="ui-g-4">
                        <p>
                            <b>Type: </b>{{ obProcess.type }}</p>
                    </div>

                    <div style="width: 30%" class="ui-g-4">
                        <div *ngFor="let requiredField of obProcess.requiredFields; let j=index">
                            <b>{{ requiredField.fieldName }}:</b> {{ requiredField.fieldValue }}
                        </div>
                    </div>

                    <div style="width: 30%; padding-bottom: 1%" class="ui-g-4">
                        <div *ngFor="let condition of obProcess.conditions; let j=index">
                            <b>{{ condition.conditionName }}:</b> {{ condition.conditionValue }}
                        </div>
                    </div>
                </div>

                <p-progressBar class="progress-bar" [value]="obProcess.progress" [style]="{'border-radius': '0px'}"></p-progressBar>
            </p-card>
            <div style="height: 10px"></div>
        </div>
    </div>
</div>