<div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <p-card title="UNANSWERED QUESTIONS" class="style1 clickable" (click)="redirectUnanswered()"  pTooltip="View all unanswered questions"
            tooltipPosition="right">
                <hr>
                <p class="cardP">{{faqUnansweredCount}}</p>
            </p-card>
        </div>

        <div class="col-lg-4 col-sm-6">
            <p-card title="ANSWERED QUESTIONS" class="style1 clickable" (click)="redirectAnswered()" pTooltip="View all answered questions"
            tooltipPosition="right">
                <hr>
                <p class="cardP">{{faqAnsweredCount}}</p>
            </p-card>
        </div>

        <div class="col-lg-4 col-sm-6">
            <p-card title="UNCLEANED DATA" class="style1 clickable" (click)="redirectCleanData()" pTooltip="Proceed to clean data"
            tooltipPosition="right">
                <hr>
                <p class="cardP">{{uncleanedCount}}</p>
            </p-card>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" style="height: 100%">
        <p-card title="CHECKLIST'S LAST MODIFIED DATE" class="table">
            <hr>
            <!-- scrollable height has been rigged for now -->
            <p-table [columns]="colsDoc" [value]="updatedChecklists" [scrollable]="true" scrollHeight="140%">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>

    <div class="col-md-6">
        <p-card class="lineChart" title="NUMBERS OF ANSWERED QUESTIONS">
            <hr>
            <p-chart type="line" [data]="data1"></p-chart>
        </p-card>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <p-card title="RECENTLY ASKED QUESTIONS" class="table">
            <hr>
            <p-accordion>
                <div *ngFor="let qns of mostRecentQns; let i=index">
                    <div *ngIf="i < 5">
                        <p-accordionTab header = {{qns.question}}>
                            <div style="font-weight: 500" [innerHTML]="qns.answer"></div>
                        </p-accordionTab>
                    </div>
                </div>
            </p-accordion>
        </p-card>
    </div>
</div>