<div *ngIf="!loading">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <p-card title="PENDING CLIENTS" class="style1 clickable" (click)="redirectPending()" pTooltip="View all pending clients"
                tooltipPosition="right">
                <hr>
                <p class="cardP">{{pendingClients}}</p>
            </p-card>
        </div>

        <div class="col-lg-4 col-sm-6">
            <p-card title="COMPLETED CLIENTS" class="style1 clickable" (click)="redirectCompleted()" pTooltip="View all completed clients"
                tooltipPosition="right">
                <hr>
                <p class="cardP">{{completedClients}}</p>
            </p-card>
        </div>

        <div class="col-lg-4 col-sm-6">
            <p-card title="TOTAL ONBOARDS" class="style1">
                <hr>
                <p class="cardP">{{totalChecklist}}</p>
            </p-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p-card title="RECENT CHANGES IN DOCUMENTS" class="table">
                <hr>
                <p>List of changes in documents</p>
                <p-table [columns]="colsDoc" [value]="docChanges" [scrollable]="true" scrollHeight="100%">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>

        <div class="col-md-6">
            <p-card title="CLIENTS AFFECTED" class="table">
                <hr>
                <p>There are {{clientsAffected?.length}} affected clients</p>
                <p-table [columns]="cols" [value]="clientsAffected" [scrollable]="true" scrollHeight="100%">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr class="clickable" (click)="redirectAffectedClient(rowData['obID'], rowData['DocName'])" pTooltip="View client's checklist"
                            tooltipPosition="right">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>

    <div *ngIf="faqs.length > 0" class="row">
        <div class="col-md-12">
            <p-card title="YOUR MOST RECENT QUESTIONS" class="table">
                <hr>
                <p-accordion>
                    <div *ngFor="let faq of faqs; let i=index">
                        <div *ngIf="i < 5">
                            <p-accordionTab header = {{faq.question}}>
                                <div style="font-weight: 500" [innerHTML]="faq.answer"></div>
                            </p-accordionTab>
                        </div>
                    </div>
                </p-accordion>
            </p-card>
        </div>
    </div>
</div>