.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

:host-context(.ui-button) cButton {
    margin: 0;
    color: #ffffff;
    background-color: #499ad8 !important;
    border: 1px solid #499ad8 !important;
    font-size: 14px;
    transition: background-color 0.2s;
}

.condition-field { width: 200px; float: left; margin: 0 20px 0 0; }