:host >>> .stats.ui-card{
    width: 18%;
    height: auto;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    margin-left: 0px;
}

:host >>> .stats.ui-card .ui-card-body{
    padding: 5px;
}


:host >>> .ui-inputtext{
    width: 100%;
}

:host >>> .ui-widget-content .ui-inputtext{
    font-weight: 550;
}

:host >>> .ui-float-label{
    width: 100%;
    font-weight: 550;
}

input {
    width: 100%;
}

.expandContainer {
    margin-left: 8.5%; 
    margin-right: 2%; 
    padding: 10px;
    border: 1px solid #C7C7C7; 
    border-radius: 4px;
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/***********************************
  Style of invalid and dirty inputs 
 **********************************/

 :host >>> .ui-inputtext.ng-dirty.ng-invalid,
 :host >>>  p-dropdown.ng-dirty.ng-invalid > .ui-dropdown > .ui-dropdown-label {
     background-color: #f8bdc3;
 } 

/****************************
 * CONTINUE CLEANING BUTTON *
 ****************************/
 :host >>> .ui-button-text-icon-left .ui-button-icon-left{
    margin-left: 3%;
 }