/*
 * Specific styles of signin component
 */

/*
 * General styles
 */

/* .zoom {
    zoom: 90%;
} */

body,
html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.cButton {
    margin: 0;
    color: #ffffff;
    background-color: #499ad8 !important;
    border: 1px solid #499ad8 !important;
    font-size: 14px;
    transition: background-color 0.2s;
}

.cButton:hover {
    background-color: #3c7cad !important;
    color: white;
}

/***********************************
  Style of invalid and dirty inputs 
 ***********************************/

:host>>>.ui-inputtext.ng-dirty.ng-invalid,
:host>>>p-dropdown.ng-dirty.ng-invalid>.ui-dropdown>label.ui-dropdown-label,
:host>>>p-calendar.ng-dirty.ng-invalid>.ui-calendar>.ui-inputtext,
:host>>>p-chips.ng-dirty.ng-invalid>.ui-chips>.ui-inputtext,
:host>>>p-autocomplete.ng-dirty.ng-invalid>.ui-autocomplete>.ui-inputtext {
    background-color: #f8bdc3;
}

/*
 * CSS of p-chip for condition's options 
*/

:host>>>.ui-chips>ul.ui-inputtext .ui-chips-token {
    margin-bottom: 1.5px;
}

:host>>>.ui-chips>ul.ui-inputtext .ui-chips-input-token input {
    min-width: 350px;
}

/*Condition p-chip's border turns red when empty*/

:host>>>.invalid .ui-chips>ul.ui-inputtext {
    border-color: #bd3f3f;
}

/*
 * Card component
 */

.card {
    background-color: #F7F7F7;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 152px;
    height: 179px;
    margin: 0 auto 10px;
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
}

/*
 * Form styles
 */

.form-create #input {
    direction: ltr;
    height: 40px;
    font-size: 14px;
}

.form-create input[type=email],
.form-create input[type=password],
.form-create input[type=text],
.form-create input[type=textarea],
.form-create button {
    width: 90%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-create textarea {
    display: block;
    margin-bottom: 10px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-create .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.error-inline-msg {
    height: 14px;
    color: #AB081C;
    font-size: 10px;
    line-height: 14px;
    width: 300px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.error-label {
    height: 14px;
    line-height: 28px;
    text-align: center;
    color: #AB081C;
    font-size: 14px;
    float: left;
    width: 100%;
    margin-top: -15px;
    margin-bottom: 15px;
}

/*
 * All Table Column Widths 
 */

/* Compliance Checklist Documents*/

.cDocName {
    width: 12%
}

.cDocType {
    width: 10%
}

.cCondName {
    width: 13%
}

.cCondOption {
    width: 10%
}

.cAgmtCode {
    width: 7%
}

.cRemark {
    width: 35%
}

.cSignature {
    width: 10%
}

/* Legal Checklist Documents*/

.lDocName {
    width: 10%
}

.lDocType {
    width: 10%
}

.lCondName {
    width: 10%
}

.lCondOption {
    width: 10%
}

.lAgmtCode {
    width: 7%
}

.lRemark {
    width: 25%
}

.lSignature {
    width: 10%
}

.lWaiver {
    width: 10%
}