<div *ngIf="!loading">
    <div class="form-create" [formGroup]="newChecklistForm">
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h3>Checklist Name</h3>
                <input type="text" id="input" style="width: 83%" class="form-control" placeholder="Enter Checklist Name" formControlName="checklistName" required
                    pInputText>
            </p-card>
        </div>
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h3>Checklist Conditions</h3>

                <div formArrayName="conditions">
                    <div *ngFor="let condition of newChecklistForm.get('conditions').controls; let i=index">
                        <h4>Condition {{i+1}}</h4>
                        <div [formGroupName]="i" class="ui-g">
                            <div class="ui-g-12 ui-md-10">
                                <input type="text" id="input" class="form-control" style="display: inline-block; width: 28%" placeholder="Condition (e.g. Booking Center)" formControlName="conditionName"
                                    required pInputText>
                                <input type="text" id="input" class="form-control" style="display: inline-block; width: 62%; margin-left: 2%" placeholder="Condition Options* (e.g. Singapore, Hong Kong)"
                                    formControlName="conditionOptions" required pInputText>
                                <button pButton class="ui-button-danger" style="display: inline-block; width: 6%; margin-left: 2%" type="button" icon="fa fa-times" (click)="deleteCondition(i)"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <button pButton label="Add New Condition" class="ui-button-success" style="width: 20%" type="button" icon="fa fa-plus" (click)="addNewCondition()"></button>
            </p-card>
        </div>
    </div>
</div>