<p-messages [(value)]="msgs" [closable]="false"></p-messages>

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="assets/images/sb-logo.png" />
        <form class="form-signin" [formGroup]="loginForm">
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" formControlName="username" required pInputText>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required
                pInputText>
            <div class="error-label" style="padding-top:2%">
                <div *ngIf="loginForm.controls['username'].dirty && !loginForm.controls['username'].valid; else checkPass">
                    Please enter username
                </div>
                <ng-template #checkPass>
                    <div *ngIf="loginForm.controls['password'].dirty && !loginForm.controls['password'].valid; else checkValid">
                        Please enter password
                    </div>
                </ng-template>
                <ng-template #checkValid>
                    <div *ngIf="!isValidUser">
                        Invalid username/password
                    </div>
                </ng-template>
            </div>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [disabled]="loading" (click)="loginUser()">Sign In</button>
        </form>
        <!-- /form -->
        <a routerLink="/login/forgotpw" class="forgot-password">
            Forgot the password?
        </a>
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->