<div class="zoom" *ngIf="!loading">
    <div [formGroup]="documentsForm">
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4>Required Fields</h4>
                <div *ngFor="let requiredField of obDetails.requiredFields; let i=index">
                    <b>{{ requiredField.fieldName }}:</b> {{ requiredField.fieldValue }}
                </div>
            </p-card>
        </div>
        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4>Conditions</h4>
                <div *ngFor="let condition of obDetails.conditions; let i=index">
                    <b>{{ condition.conditionName }}:</b> {{ condition.conditionOption }}
                </div>
            </p-card>
        </div>

        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4 style="display: inline-block;">Compliance Documents</h4>

                <p-overlayPanel #legendTable appendTo="'body'">
                    <p-table [columns]="tableCols" [value]="docChanges">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns" [ngClass]="rowData[col.field] === 'Green' ? 'addedDoc' : 
                                                            rowData[col.field] === 'Red' ? 'removedDoc' : 
                                                            rowData[col.field] === 'Yellow' ? 'modifiedDoc' : 'null'">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-overlayPanel>


                <button type="text" style="float: right;" pButton label="Colour Legend" class="ui-button-raised ui-button-info"
                    (mouseover)="legendTable.show($event)" (mouseout)="legendTable.hide()"></button>
                <div formGroupName="complianceDocuments">
                    <h5>Mandatory</h5>
                    <div *ngIf="obDetails.complianceDocuments.mandatory.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.complianceDocuments.mandatory.length > 0" style="padding-bottom:1%"
                        formArrayName="mandatory">
                        <!-- <p-table [value]="obDetails.complianceDocuments.mandatory" [scrollable]="true" scrollHeight="350px"
                            [selectionMode]="single"> -->
<!-- 
                        <p-table [columns]="selectedColumns" [value]="obDetails.complianceDocuments.mandatory">
                            <ng-template pTemplate="caption">
                                <div style="text-align:left">
                                    <p-multiSelect [options]="complianceCols" [(ngModel)]="selectedColumns"
                                        [ngModelOptions]="{standalone: true}" optionLabel="header" selectedItemsLabel="{0} columns selected"
                                        [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table> -->






                        <p-table [columns]="selectedColumns" [value]="obDetails.complianceDocuments.mandatory" [selectionMode]="single">


                            <ng-template pTemplate="caption">
                                <div style="text-align:left">
                                    <p-multiSelect [options]="complianceCols" [(ngModel)]="selectedColumns"
                                        [ngModelOptions]="{standalone: true}" optionLabel="header" selectedItemsLabel="{0} columns selected"
                                        [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [ngClass]="col.field === 'documentName' ? 'cDocName' : 
                                                                                        col.field === 'documentType' ? 'cDocType' :
                                                                                        col.field === 'conditionName' ? 'cCondName' : 
                                                                                        col.field === 'conditionOptions' ? 'cCondOption' : 
                                                                                        col.field === 'agmtCode' ? 'cAgmtCode' :
                                                                                        col.field === 'remarks' ? 'cRemark' :
                                                                                        col.field === 'signature' ? 'cSignature' : null">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>



                            <!-- we must change the data here to make it able to hide and show -->

                            <ng-template pTemplate="body" let-doc let-i="rowIndex" let-rowData let-columns="columns">
                                <ng-container *ngIf="obDetails.complianceDocuments.mandatory[i].conditions.length === 0">
                                    <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                    doc.changed === '2' ? 'new-field' :
                                                    doc.changed === '1' ? 'edited-field' : null">
                                        <td class="cDocName">
                                            {{ doc.documentName }}
                                        </td>
                                        <td class="cDocType">
                                            {{ doc.documentType }}
                                        </td>
                                        <td class="cCondName"> - </td>
                                        <td class="cCondOption"> - </td>
                                        <td class="cAgmtCode">
                                            {{ doc.agmtCode }}
                                        </td>
                                        <td class="cRemark" [innerHTML]="doc.remarks"></td>
                                        <td class="cSignature" *ngIf="doc.signature">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="cSignature" *ngIf="!doc.signature">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <!-- <td *ngIf="doc.canWaiver">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td *ngIf="!doc.canWaiver">
                                            <i class="fa fa-times"></i>
                                        </td> -->
                                        <td style="text-align:center; vertical-align:middle; width: 10%">
                                            <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                        </td>
                                    </tr>
                                </ng-container>


                                

                                <ng-container *ngIf="obDetails.complianceDocuments.mandatory[i].conditions.length > 0">
                                    <ng-container *ngFor="let condition of obDetails.complianceDocuments.mandatory[i].conditions; let j=index">
                                        <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                        doc.changed === '2' ? 'new-field' :
                                                        doc.changed === '1' ? 'edited-field' : null">
                                            <ng-container *ngIf="j === 0">
                                                <td class="cDocName" [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length">
                                                    {{ doc.documentName }}
                                                </td>
                                                <td class="cDocType" [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length">
                                                    {{ doc.documentType }}
                                                </td>
                                            </ng-container>
                                            <td class="cCondName">{{ condition.conditionName }}</td>
                                            <td class="cCondOption">{{ condition.conditionOption }}</td>
                                            <ng-container *ngIf="j === 0">
                                                <td class="cAgmtCode" [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length">
                                                    {{ doc.agmtCode }}
                                                </td>
                                                <td class="cRemark" [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length"
                                                    [innerHTML]="doc.remarks"></td>
                                                <td class="cSignature" *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                                <td class="cSignature" *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length">
                                                    <i class="fa fa-times"></i>
                                                </td>
                                                <!-- <td *ngIf="doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                                <td *ngIf="!doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length">
                                                    <i class="fa fa-times"></i>
                                                </td> -->
                                                
                                                <td [attr.rowspan]="obDetails.complianceDocuments.mandatory[i].conditions.length"
                                                    style="text-align:center; vertical-align:middle; width: 10%">
                                                    <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </ng-container> 


                            </ng-template>





                        </p-table>
                    </div>

                    <h5>Optional</h5>
                    <div *ngIf="obDetails.complianceDocuments.optional.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.complianceDocuments.optional.length > 0" style="padding-bottom:1%"
                        formArrayName="optional">
                        <p-table [value]="obDetails.complianceDocuments.optional" [scrollable]="true" scrollHeight="350px"
                            [selectionMode]="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of complianceCols" [ngClass]="col.field === 'documentName' ? 'cDocName' : 
                                                                                        col.field === 'documentType' ? 'cDocType' :
                                                                                        col.field === 'conditionName' ? 'cCondName' : 
                                                                                        col.field === 'conditionOptions' ? 'cCondOption' : 
                                                                                        col.field === 'agmtCode' ? 'cAgmtCode' :
                                                                                        col.field === 'remarks' ? 'cRemark' :
                                                                                        col.field === 'signature' ? 'cSignature' : null">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <ng-container *ngIf="obDetails.complianceDocuments.optional[i].conditions.length === 0">
                                    <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                    doc.changed === '2' ? 'new-field' :
                                                    doc.changed === '1' ? 'edited-field' : null">
                                        <td class="cDocName">
                                            {{ doc.documentName }}
                                        </td>
                                        <td class="cDocType">
                                            {{ doc.documentType }}
                                        </td>
                                        <td class="cCondName"> - </td>
                                        <td class="cCondOption"> - </td>
                                        <td class="cAgmtCode">
                                            {{ doc.agmtCode }}
                                        </td>
                                        <td class="cRemark" [innerHTML]="doc.remarks"></td>
                                        <td class="cSignature" *ngIf="doc.signature">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="cSignature" *ngIf="!doc.signature">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <!-- <td *ngIf="doc.canWaiver">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td *ngIf="!doc.canWaiver">
                                            <i class="fa fa-times"></i>
                                        </td> -->
                                        <td style="text-align:center; vertical-align:middle; width: 10%">
                                            <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="obDetails.complianceDocuments.optional[i].conditions.length > 0">
                                    <ng-container *ngFor="let condition of obDetails.complianceDocuments.optional[i].conditions; let j=index">
                                        <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                        doc.changed === '2' ? 'new-field' :
                                                        doc.changed === '1' ? 'edited-field' : null">
                                            <ng-container *ngIf="j === 0">
                                                <td class="cDocName" [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length">
                                                    {{ doc.documentName }}
                                                </td>
                                                <td class="cDocType" [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length">
                                                    {{ doc.documentType }}
                                                </td>
                                            </ng-container>
                                            <td class="cCondName">{{ condition.conditionName }}</td>
                                            <td class="cCondOption">{{ condition.conditionOption }}</td>
                                            <ng-container *ngIf="j === 0">
                                                <td class="cAgmtCode" [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length">
                                                    {{ doc.agmtCode }}
                                                </td>
                                                <td class="cRemark" [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length"
                                                    [innerHTML]="doc.remarks"></td>
                                                <td class="cSignature" *ngIf="doc.signature" [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                                <td class="cSignature" *ngIf="!doc.signature" [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length">
                                                    <i class="fa fa-times"></i>
                                                </td>
                                                <!-- <td *ngIf="doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                                <td *ngIf="!doc.canWaiver" [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length">
                                                    <i class="fa fa-times"></i>
                                                </td> -->
                                                <td [attr.rowspan]="obDetails.complianceDocuments.optional[i].conditions.length"
                                                    style="text-align:center; vertical-align:middle; width: 10%">
                                                    <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-card>
        </div>

        <div style="padding-bottom: 10px">
            <p-card styleClass="ui-card-shadow">
                <h4 style="display: inline-block;">Legal Documents</h4>
                <p-overlayPanel #legendTable2 appendTo="'body'">
                    <p-table [columns]="tableCols" [value]="docChanges">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns" [ngClass]="rowData[col.field] === 'Green' ? 'addedDoc' : 
                                                                    rowData[col.field] === 'Red' ? 'removedDoc' : 
                                                                    rowData[col.field] === 'Yellow' ? 'modifiedDoc' : 'null'">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-overlayPanel>
                <button type="text" style="float: right;" pButton label="Colour Legend" class="ui-button-raised ui-button-info"
                    (mouseover)="legendTable2.show($event)" (mouseout)="legendTable2.hide()"></button>
                <div formGroupName="legalDocuments">
                    <h5>Mandatory</h5>
                    <div *ngIf="obDetails.legalDocuments.mandatory.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.legalDocuments.mandatory.length > 0" style="padding-bottom:1%" formArrayName="mandatory">
                        <p-table [value]="obDetails.legalDocuments.mandatory" [scrollable]="true" scrollHeight="350px"
                            [selectionMode]="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of legalCols" [ngClass]="col.field === 'documentName' ? 'lDocName' : 
                                                                                            col.field === 'documentType' ? 'lDocType' :
                                                                                            col.field === 'conditionName' ? 'lCondName' : 
                                                                                            col.field === 'conditionOptions' ? 'lCondOption' : 
                                                                                            col.field === 'agmtCode' ? 'lAgmtCode' :
                                                                                            col.field === 'remarks' ? 'lRemark' :
                                                                                            col.field === 'signature' ? 'lSignature' : 
                                                                                            col.field === 'canWaiver' ? 'lWaiver' : null">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <ng-container *ngIf="obDetails.legalDocuments.mandatory[i].conditions.length === 0">
                                    <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                    doc.changed === '2' ? 'new-field' :
                                                    doc.changed === '1' ? 'edited-field' : null">
                                        <td class="lDocName">
                                            {{ doc.documentName }}
                                        </td>
                                        <td class="lDocType">
                                            {{ doc.documentType }}
                                        </td>
                                        <td class="lCondName"> - </td>
                                        <td class="lCondOption"> - </td>
                                        <td class="lAgmtCode">
                                            {{ doc.agmtCode }}
                                        </td>
                                        <td class="lRemark" [innerHTML]="doc.remarks"></td>
                                        <td class="lSignature" *ngIf="doc.signature">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="lSignature" *ngIf="!doc.signature">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td class="lWaiver" *ngIf="doc.canWaiver">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="lWaiver" *ngIf="!doc.canWaiver">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td style="text-align:center; vertical-align:middle; width: 10%">
                                            <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="obDetails.legalDocuments.mandatory[i].conditions.length > 0">
                                    <ng-container *ngFor="let condition of obDetails.legalDocuments.mandatory[i].conditions; let j=index">
                                        <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                        doc.changed === '2' ? 'new-field' :
                                                        doc.changed === '1' ? 'edited-field' : null">
                                            <ng-container *ngIf="j === 0">
                                                <td class="lDocName" [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length">
                                                    {{ doc.documentName }}
                                                </td>
                                                <td class="lDocType" [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length">
                                                    {{ doc.documentType }}
                                                </td>
                                            </ng-container>
                                            <td class="lCondName">{{ condition.conditionName }}</td>
                                            <td class="lCondOption">{{ condition.conditionOption }}</td>
                                            <ng-container *ngIf="j === 0">
                                                <td class="lAgmtCode" [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length">
                                                    {{ doc.agmtCode }}
                                                </td>
                                                <td class="lRemark" [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length"
                                                    [innerHTML]="doc.remarks"></td>
                                                <td class="lSignature" *ngIf="doc.signature" [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                                <td class="lSignature" *ngIf="!doc.signature" [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length">
                                                    <i class="fa fa-times"></i>
                                                </td>
                                                <td class="lWaiver" *ngIf="doc.canWaiver" [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                                <td class="lWaiver" *ngIf="!doc.canWaiver" [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length">
                                                    <i class="fa fa-times"></i>
                                                </td>
                                                <td [attr.rowspan]="obDetails.legalDocuments.mandatory[i].conditions.length"
                                                    style="text-align:center; vertical-align:middle; width: 10%">
                                                    <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </div>

                    <h5>Optional</h5>
                    <div *ngIf="obDetails.legalDocuments.optional.length === 0" style="padding-bottom:1%">
                        No documents in this section
                    </div>
                    <div *ngIf="obDetails.legalDocuments.optional.length > 0" style="padding-bottom:1%" formArrayName="optional">
                        <p-table [value]="obDetails.legalDocuments.optional" [scrollable]="true" scrollHeight="350px"
                            [selectionMode]="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of legalCols" [ngClass]="col.field === 'documentName' ? 'lDocName' : 
                                                                                            col.field === 'documentType' ? 'lDocType' :
                                                                                            col.field === 'conditionName' ? 'lCondName' : 
                                                                                            col.field === 'conditionOptions' ? 'lCondOption' : 
                                                                                            col.field === 'agmtCode' ? 'lAgmtCode' :
                                                                                            col.field === 'remarks' ? 'lRemark' :
                                                                                            col.field === 'signature' ? 'lSignature' :
                                                                                            col.field === 'canWaiver' ? 'lWaiver' : null">
                                        {{ col.header }}
                                    </th>
                                    <th style="width: 10%">Checked?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-doc let-i="rowIndex">
                                <ng-container *ngIf="obDetails.legalDocuments.optional[i].conditions.length === 0">
                                    <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                    doc.changed === '2' ? 'new-field' :
                                                    doc.changed === '1' ? 'edited-field' : null">
                                        <td class="lDocName">
                                            {{ doc.documentName }}
                                        </td>
                                        <td class="lDocType">
                                            {{ doc.documentType }}
                                        </td>
                                        <td class="lCondName"> - </td>
                                        <td class="lCondOption"> - </td>
                                        <td class="lAgmtCode">
                                            {{ doc.agmtCode }}
                                        </td>
                                        <td class="lRemark" [innerHTML]="doc.remarks"></td>
                                        <td class="lSignature" *ngIf="doc.signature">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="lSignature" *ngIf="!doc.signature">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td class="lWaiver" *ngIf="doc.canWaiver">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td class="lWaiver" *ngIf="!doc.canWaiver">
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td style="text-align:center; vertical-align:middle; width: 10%">
                                            <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="obDetails.legalDocuments.optional[i].conditions.length > 0">
                                    <ng-container *ngFor="let condition of obDetails.legalDocuments.optional[i].conditions; let j=index">
                                        <tr [ngClass]="doc.changed === '3' ? 'deleted-field' : 
                                                        doc.changed === '2' ? 'new-field' :
                                                        doc.changed === '1' ? 'edited-field' : null">
                                            <ng-container *ngIf="j === 0">
                                                <td class="lDocName" [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length">
                                                    {{ doc.documentName }}
                                                </td>
                                                <td class="lDocType" [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length">
                                                    {{ doc.documentType }}
                                                </td>
                                            </ng-container>
                                            <td class="lCondName">{{ condition.conditionName }}</td>
                                            <td class="lCondOption">{{ condition.conditionOption }}</td>
                                            <ng-container *ngIf="j === 0">
                                                <td class="lAgmtCode" [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length">
                                                    {{ doc.agmtCode }}
                                                </td>
                                                <td class="lRemark" [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length"
                                                    [innerHTML]="doc.remarks"></td>
                                                <td class="lSignature" *ngIf="doc.signature" [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                                <td class="lSignature" *ngIf="!doc.signature" [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length">
                                                    <i class="fa fa-times"></i>
                                                </td>
                                                <td class="lWaiver" *ngIf="doc.canWaiver" [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                                <td class="lWaiver" *ngIf="!doc.canWaiver" [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length">
                                                    <i class="fa fa-times"></i>
                                                </td>
                                                <td [attr.rowspan]="obDetails.legalDocuments.optional[i].conditions.length"
                                                    style="text-align:center; vertical-align:middle; width: 10%">
                                                    <p-checkbox [formControlName]="i" binary="true"></p-checkbox>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-card>
        </div>

        <button pButton label="Save Changes" class="ui-button-success" style="width: 100%" type="button" icon="far fa-save"
            (click)="updateOnboardProcess()" [disabled]="processing"></button>
    </div>
</div>