<div class="mainContainer" *ngIf="!loading">

    <!-- START OF LEGEND -->
    <div class="legendContainer">
        <div class="overlayContainer">
            <p-overlayPanel #legendTable>
                <p-table [columns]="tableCols" [value]="docChanges">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">{{col.header}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" [ngClass]="getColorLegend(rowData[col.field])">{{rowData[col.field]}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-overlayPanel>
        </div>
        <div class="colourLegend" (mouseover)="legendTable.show($event)" (mouseout)="legendTable.hide()">Colour Legend</div>
    </div>
    <!-- END OF LEGEND -->

    <!-- START OF TWO TILES INFORMATION -->
    <div class="p-grid p-col-align-stretch">
        <div class="p-col">
            <p-card styleClass="fillHeight">
                <h4>Required Fields</h4>
                <div class="topFieldsContainer" *ngFor="let requiredField of obDetails.requiredFields">
                    <b>{{ requiredField.fieldName }}: </b>{{ requiredField.fieldValue }}
                </div>
            </p-card>
        </div>
        <div class="p-col">
            <p-card styleClass="fillHeight">
                <h4>Conditions</h4>
                <div class="topFieldsContainer" *ngFor="let condition of obDetails.conditions">
                    <b>{{ condition.conditionName }}: </b>{{ condition.conditionOption }}
                </div>
            </p-card>
        </div>
    </div>
    <!-- END OF TWO TILES INFORMATION  -->


    <!-- START OF DOCUMENTFORM -->
    <div class="complianceDocumentsGroup" [formGroup]="documentsForm">

        <!-- START OF COMPLIANCE DOCS -->
        <div formGroupName="complianceDocuments">
            <h3>Compliance Documents: Mandatory</h3>
            <!-- START OF COMPLIANCE MANDATORY -->
            <p-card>
                <div *ngIf="obDetails.complianceDocuments.mandatory.length === 0">No documents in this section</div>

                <div *ngIf="obDetails.complianceDocuments.mandatory.length > 0" formArrayName="mandatory">

                    <p-table [columns]="selectedComplianceManCols" [value]="obDetails.complianceDocuments.mandatory" [scrollable]="true"
                        scrollHeight="450px" [selectionMode]="single" styleClass="dataTable">

                        <ng-template pTemplate="caption">
                            <div style="text-align:left">
                                <p-multiSelect [options]="complianceCols" [(ngModel)]="selectedComplianceManCols"
                                    [ngModelOptions]="{standalone: true}" optionLabel="header" selectedItemsLabel="{0} columns selected"
                                    [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [ngClass]="complianceTableHeadersClass(col.field)">{{col.header}}</th>
                                <th class="cChk"><div (click)="allCheckboxLoop('cdm')">Check</div></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-doc let-rowData let-i="rowIndex" let-columns="columns">
                            <tr valign="top" formGroupName="{{i}}" [ngClass]="getDocChange(doc.changed)">
                                <ng-container *ngFor="let col of columns">
                                    <ng-container *ngIf="col.field === 'documentName'">
                                        <td class="cDocName">{{ doc.documentName }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'documentType'">
                                        <td class="cDocType">{{ doc.documentType | changeToNA }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'conditionName'">
                                        <td class="cCondName">
                                            <ng-container *ngIf="obDetails.complianceDocuments.mandatory[i].conditions.length === 0"> - </ng-container>
                                            <ng-container *ngIf="obDetails.complianceDocuments.mandatory[i].conditions.length > 0">
                                                <div class="subCellContainer">
                                                    <ng-container *ngFor="let condition of obDetails.complianceDocuments.mandatory[i].conditions">
                                                        <div class="subCell">
                                                            {{ condition.conditionName }}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'conditionOptions'">
                                        <td class="cCondOption">
                                            <ng-container *ngIf="obDetails.complianceDocuments.mandatory[i].conditions.length === 0"> - </ng-container>
                                            <ng-container *ngIf="obDetails.complianceDocuments.mandatory[i].conditions.length > 0">
                                                <div class="subCellContainer">
                                                    <ng-container *ngFor="let condition of obDetails.complianceDocuments.mandatory[i].conditions">
                                                        <div class="subCell">
                                                            {{ condition.conditionOption }}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'agmtCode'">
                                        <td class="cAgmtCode">{{ doc.agmtCode }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'remarks'">
                                        <td class="cRemark" [innerHTML]="doc.remarks"></td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'comments'">
                                        <td class="cComments">
                                            <div class="textareaWrapper">
                                                <textarea class="docComments" formControlName="comments">{{ doc.comments }}</textarea>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'uploadFiles'">
                                        <td class="cUploadFile">
                                            <app-upload-form [loopData]="{'docID' : doc.docID, 'formArray' : i, 'docCat' : 'cdm'}"></app-upload-form>
                                            <ul>
                                                <ng-container *ngFor="let uploadFile of doc.uploadFiles; let uploadIndex=index">
                                                    <li class="uploadFileLink">
                                                        <span (click)="fileDeleteHandler(uploadIndex, i, 'cdm')" class="fa fa-times"></span>
                                                        <span (click)="fileViewHandler(uploadIndex, i, 'cdm')">{{ uploadFile }}</span>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'signature'">
                                        <td class="cSignature" *ngIf="doc.signature"><i class="fa fa-check"></i></td>
                                        <td class="cSignature" *ngIf="!doc.signature"><i class="fa fa-times"></i></td>
                                    </ng-container>
                                </ng-container>
                                <td class="cChk">
                                    <p-checkbox formControlName="chkbox" binary="true"></p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
            <!-- END OF COMPLIANCE MANDATORY -->
            
            <h3>Compliance Documents: Optional</h3>

            <!-- START OF COMPLIANCE OPTIONAL -->
            <p-card>
                <div *ngIf="obDetails.complianceDocuments.optional.length === 0">No documents in this section</div>

                <div *ngIf="obDetails.complianceDocuments.optional.length > 0" formArrayName="optional">

                    <p-table [columns]="selectedComplianceOptCols" [value]="obDetails.complianceDocuments.optional" [scrollable]="true"
                        scrollHeight="450px" [selectionMode]="single" styleClass="dataTable">

                        <ng-template pTemplate="caption">
                            <div style="text-align:left">
                                <p-multiSelect [options]="complianceCols" [(ngModel)]="selectedComplianceOptCols"
                                    [ngModelOptions]="{standalone: true}" optionLabel="header" selectedItemsLabel="{0} columns selected"
                                    [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [ngClass]="complianceTableHeadersClass(col.field)">{{col.header}}</th>
                                <th class="cChk"><div (click)="allCheckboxLoop('cdo')">Check</div></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-doc let-rowData let-i="rowIndex" let-columns="columns">
                            <tr valign="top" formGroupName="{{i}}" [ngClass]="getDocChange(doc.changed)">
                                <ng-container *ngFor="let col of columns">
                                    <ng-container *ngIf="col.field === 'documentName'">
                                        <td class="cDocName">{{ doc.documentName }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'documentType'">
                                        <td class="cDocType">{{ doc.documentType | changeToNA }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'conditionName'">
                                        <td class="cCondName">
                                            <ng-container *ngIf="obDetails.complianceDocuments.optional[i].conditions.length === 0"> - </ng-container>
                                            <ng-container *ngIf="obDetails.complianceDocuments.optional[i].conditions.length > 0">
                                                <div class="subCellContainer">
                                                    <ng-container *ngFor="let condition of obDetails.complianceDocuments.optional[i].conditions">
                                                        <div class="subCell">
                                                            {{ condition.conditionName }}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'conditionOptions'">
                                        <td class="cCondOption">
                                            <ng-container *ngIf="obDetails.complianceDocuments.optional[i].conditions.length === 0"> - </ng-container>
                                            <ng-container *ngIf="obDetails.complianceDocuments.optional[i].conditions.length > 0">
                                                <div class="subCellContainer">
                                                    <ng-container *ngFor="let condition of obDetails.complianceDocuments.optional[i].conditions">
                                                        <div class="subCell">
                                                            {{ condition.conditionOption }}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'agmtCode'">
                                        <td class="cAgmtCode">{{ doc.agmtCode }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'remarks'">
                                        <td class="cRemark" [innerHTML]="doc.remarks"></td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'comments'">
                                        <td class="cComments">
                                            <div class="textareaWrapper">
                                                <textarea class="docComments" formControlName="comments">{{ doc.comments }}</textarea>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'uploadFiles'">
                                        <td class="cUploadFile">
                                            <app-upload-form [loopData]="{'docID' : doc.docID, 'formArray' : i, 'docCat' : 'cdo'}"></app-upload-form>
                                            <ul>
                                                <ng-container *ngFor="let uploadFile of doc.uploadFiles; let uploadIndex=index">
                                                    <li class="uploadFileLink">
                                                        <span (click)="fileDeleteHandler(uploadIndex, i, 'cdo')" class="fa fa-times"></span>
                                                        <span (click)="fileViewHandler(uploadIndex, i, 'cdo')">{{
                                                            uploadFile }}</span>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'signature'">
                                        <td class="cSignature" *ngIf="doc.signature"><i class="fa fa-check"></i></td>
                                        <td class="cSignature" *ngIf="!doc.signature"><i class="fa fa-times"></i></td>
                                    </ng-container>
                                </ng-container>
                                <td class="cChk">
                                    <p-checkbox formControlName="chkbox" binary="true"></p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
            <!-- END OF COMPLIANCE OPTIONAL -->
        </div>
        <!-- END OF COMPLIANCE DOCS -->

        <!-- START OF LEGAL DOCS -->
        <div class="legelDocumentsGroup" formGroupName="legalDocuments">
            <h3>Legal Documents: Mandatory</h3>
            <!-- START OF LEGAL MANDATORY -->
            <p-card>
                <div *ngIf="obDetails.legalDocuments.mandatory.length === 0">No documents in this section</div>

                <div *ngIf="obDetails.legalDocuments.mandatory.length > 0" formArrayName="mandatory">

                    <p-table [columns]="selectedLegalManCols" [value]="obDetails.legalDocuments.mandatory" [scrollable]="true"
                        scrollHeight="450px" [selectionMode]="single" styleClass="dataTable">

                        <ng-template pTemplate="caption">
                            <div style="text-align:left">
                                <p-multiSelect [options]="legalCols" [(ngModel)]="selectedLegalManCols"
                                    [ngModelOptions]="{standalone: true}" optionLabel="header" selectedItemsLabel="{0} columns selected"
                                    [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [ngClass]="legalTableHeadersClass(col.field)">{{col.header}}</th>
                                <th class="cChk"><div (click)="allCheckboxLoop('ldm')">Check</div></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-doc let-rowData let-i="rowIndex" let-columns="columns">
                            <tr valign="top" formGroupName="{{i}}" [ngClass]="getDocChange(doc.changed)">
                                <ng-container *ngFor="let col of columns">
                                    <ng-container *ngIf="col.field === 'documentName'">
                                        <td class="lDocName">{{ doc.documentName }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'documentType'">
                                        <td class="lDocType">{{ doc.documentType | changeToNA }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'conditionName'">
                                        <td class="lCondName">
                                            <ng-container *ngIf="obDetails.legalDocuments.mandatory[i].conditions.length === 0"> - </ng-container>
                                            <ng-container *ngIf="obDetails.legalDocuments.mandatory[i].conditions.length > 0">
                                                <div class="subCellContainer">
                                                    <ng-container *ngFor="let condition of obDetails.legalDocuments.mandatory[i].conditions">
                                                        <div class="subCell">
                                                            {{ condition.conditionName }}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'conditionOptions'">
                                        <td class="lCondOption">
                                            <ng-container *ngIf="obDetails.legalDocuments.mandatory[i].conditions.length === 0"> - </ng-container>
                                            <ng-container *ngIf="obDetails.legalDocuments.mandatory[i].conditions.length > 0">
                                                <div class="subCellContainer">
                                                    <ng-container *ngFor="let condition of obDetails.legalDocuments.mandatory[i].conditions">
                                                        <div class="subCell">
                                                            {{ condition.conditionOption }}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'agmtCode'">
                                        <td class="lAgmtCode">{{ doc.agmtCode }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'remarks'">
                                        <td class="lRemark" [innerHTML]="doc.remarks"></td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'comments'">
                                        <td class="lComments">
                                            <div class="textareaWrapper">
                                                <textarea class="docComments" formControlName="comments">{{ doc.comments }}</textarea>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'uploadFiles'">
                                        <td class="lUploadFile">
                                            <app-upload-form [loopData]="{'docID' : doc.docID, 'formArray' : i, 'docCat' : 'ldm'}"></app-upload-form>
                                            <ul>
                                                <ng-container *ngFor="let uploadFile of doc.uploadFiles; let uploadIndex=index">
                                                    <li class="uploadFileLink">
                                                        <span (click)="fileDeleteHandler(uploadIndex, i, 'ldm')" class="fa fa-times"></span>
                                                        <span (click)="fileViewHandler(uploadIndex, i, 'ldm')">{{
                                                            uploadFile }}</span>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'signature'">
                                        <td class="lSignature" *ngIf="doc.signature"><i class="fa fa-check"></i></td>
                                        <td class="lSignature" *ngIf="!doc.signature"><i class="fa fa-times"></i></td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'canWaiver'">
                                        <td class="lWaiver" *ngIf="doc.canWaiver"><i class="fa fa-check"></i></td>
                                        <td class="lWaiver" *ngIf="!doc.canWaiver"><i class="fa fa-times"></i></td>
                                    </ng-container>
                                </ng-container>
                                <td class="cChk">
                                    <p-checkbox formControlName="chkbox" binary="true"></p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
            <!-- END OF LEGAL MANDATORY -->

            <h3>Legal Documents: Optional</h3>
            <!-- START OF LEGAL OPTIONAL -->
            <p-card>
                <div *ngIf="obDetails.legalDocuments.optional.length === 0">No documents in this section</div>

                <div *ngIf="obDetails.legalDocuments.optional.length > 0" formArrayName="optional">

                    <p-table [columns]="selectedLegalOptCols" [value]="obDetails.legalDocuments.optional" [scrollable]="true"
                        scrollHeight="450px" [selectionMode]="single" styleClass="dataTable">

                        <ng-template pTemplate="caption">
                            <div style="text-align:left">
                                <p-multiSelect [options]="legalCols" [(ngModel)]="selectedLegalOptCols"
                                    [ngModelOptions]="{standalone: true}" optionLabel="header" selectedItemsLabel="{0} columns selected"
                                    [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [ngClass]="legalTableHeadersClass(col.field)">{{col.header}}</th>
                                <th class="cChk"><div (click)="allCheckboxLoop('ldo')">Check</div></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-doc let-rowData let-i="rowIndex" let-columns="columns">
                            <tr valign="top" formGroupName="{{i}}" [ngClass]="getDocChange(doc.changed)">
                                <ng-container *ngFor="let col of columns">
                                    <ng-container *ngIf="col.field === 'documentName'">
                                        <td class="lDocName">{{ doc.documentName }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'documentType'">
                                        <td class="lDocType">{{ doc.documentType | changeToNA }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'conditionName'">
                                        <td class="lCondName">
                                            <ng-container *ngIf="obDetails.legalDocuments.optional[i].conditions.length === 0"> - </ng-container>
                                            <ng-container *ngIf="obDetails.legalDocuments.optional[i].conditions.length > 0">
                                                <div class="subCellContainer">
                                                    <ng-container *ngFor="let condition of obDetails.legalDocuments.optional[i].conditions">
                                                        <div class="subCell">
                                                            {{ condition.conditionName }}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'conditionOptions'">
                                        <td class="lCondOption">
                                            <ng-container *ngIf="obDetails.legalDocuments.optional[i].conditions.length === 0"> - </ng-container>
                                            <ng-container *ngIf="obDetails.legalDocuments.optional[i].conditions.length > 0">
                                                <div class="subCellContainer">
                                                    <ng-container *ngFor="let condition of obDetails.legalDocuments.optional[i].conditions">
                                                        <div class="subCell">
                                                            {{ condition.conditionOption }}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'agmtCode'">
                                        <td class="lAgmtCode">{{ doc.agmtCode }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'remarks'">
                                        <td class="lRemark" [innerHTML]="doc.remarks"></td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'comments'">
                                        <td class="lComments">
                                            <div class="textareaWrapper">
                                                <textarea class="docComments" formControlName="comments">{{ doc.comments }}</textarea>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'uploadFiles'">
                                        <td class="lUploadFile">
                                            <app-upload-form [loopData]="{'docID' : doc.docID, 'formArray' : i, 'docCat' : 'ldo'}"></app-upload-form>
                                            <ul>
                                                <ng-container *ngFor="let uploadFile of doc.uploadFiles; let uploadIndex=index">
                                                    <li class="uploadFileLink">
                                                        <span (click)="fileDeleteHandler(uploadIndex, i, 'ldo')" class="fa fa-times"></span>
                                                        <span (click)="fileViewHandler(uploadIndex, i, 'ldo')">{{ uploadFile }}</span>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'signature'">
                                        <td class="lSignature" *ngIf="doc.signature"><i class="fa fa-check"></i></td>
                                        <td class="lSignature" *ngIf="!doc.signature"><i class="fa fa-times"></i></td>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'canWaiver'">
                                        <td class="lWaiver" *ngIf="doc.canWaiver"><i class="fa fa-check"></i></td>
                                        <td class="lWaiver" *ngIf="!doc.canWaiver"><i class="fa fa-times"></i></td>
                                    </ng-container>
                                </ng-container>
                                <td class="cChk">
                                    <p-checkbox formControlName="chkbox" binary="true"></p-checkbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
            <!-- END OF LEGAL OPTIONAL -->
        </div>
        <!-- END OF LEGAL DOCS -->

        <div class="p-grid p-align-center p-justify-center">
            <button pButton label="Save Changes" class="ui-button-success saveChangeBtn" type="button" icon="far fa-save" 
            (click)="updateOnboardProcess()" [disabled]="processing"></button>
        </div>
        
    </div>
    <!-- END OF DOCUMENTFORM -->
</div>