.deleted-field {
    background-color: #FF756B !important
}

.edited-field {
    background-color: #FFE073 !important
}

.new-field {
    background-color: #AADD81 !important
}

/* .zoom {
    zoom: 90%;
} */

:host::ng-deep {
    .ui-overlaypanel {
        z-index: 100;
        left: 40%;
        right: 10%;
    }
    .ui-table-scrollable-header {
        margin-right: 0 auto;
        width: 100% !important;
    }
}

.addedDoc {
    background-color: #AADD81 !important;
    color: #000000 !important;
}

.removedDoc {
    background-color: #FF756B !important;
    color: #000000 !important;
}

.modifiedDoc {
    background-color: #FFE073 !important;
    color: #000000 !important;
}

.th {
    text-align: center;
}

/*
 * All Table Column Widths 
 */

/* Compliance Checklist Documents*/

.cDocName {
    width: 10%;
    overflow-wrap: break-word;
}

.cDocType {
    width: 10%;
    overflow-wrap: break-word;
}

.cCondName {
    width: 10%;
}

.cCondOption {
    width: 5%;
}

.cAgmtCode {
    width: 5%;
}

.cRemark {
    width: 15%;
}

.cComments {
    width: 15%;
}

.cUploadFile {
    width: 10%;
}

.cSignature {
    width: 10%;
}

.cChk {
    width: 10%; // text-align:center;
    // vertical-align: middle;
}

/* Legal Checklist Documents*/

.lDocName {
    width: 10%
}

.lDocType {
    width: 10%
}

.lCondName {
    width: 10%
}

.lCondOption {
    width: 10%
}

.lAgmtCode {
    width: 7%
}

.lRemark {
    width: 25%
}

.lSignature {
    width: 10%
}

.lWaiver {
    width: 10%
}