h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 20px;
}

ul {
    margin-top: 10px;
    padding: 0;
}

.topFieldsContainer {
    line-height: 2em;
}

.legendContainer {
    text-align: right;
    margin-bottom: 10px;
    .overlayContainer {
        position: relative;
        text-align: left;
        right: 300px;
        top: -160px;
        width: 350px;
        background-color: red;
    }
}

.complianceDocumentsGroup {
    margin-top: 60px;
}

.legelDocumentsGroup {
    margin-top: 60px;
}

.saveChangeBtn {
    margin-top: 40px;
}

.uploadFileLink {
    cursor: pointer;
    text-decoration: underline;
}

.uploadFileLink {
    padding: 0;
    list-style-type: none;
    span:nth-child(1) {
        margin-right: 5px;
    }
    span:nth-child(2) {
        margin-left: 0px;
    }
}

.textareaWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.docComments {
    width: 100%;
    height: 100%;
}



.deleted-field {
    background-color: #FF756B !important
}

.edited-field {
    background-color: #FFE073 !important
}

.new-field {
    background-color: #AADD81 !important
}

.addedDoc {
    background-color: #AADD81 !important;
    color: #000000 !important;
}

.removedDoc {
    background-color: #FF756B !important;
    color: #000000 !important;
}

.modifiedDoc {
    background-color: #FFE073 !important;
    color: #000000 !important;
}

/*
 * All Table Column Widths 
 */

/* Compliance Checklist Documents*/

.cDocName,
.lDocName {
    width: 10%;
}

.cDocType,
.lDocType {
    width: 5%;
}

.cCondName,
.lCondName {
    min-width: 100px;
}

.cCondOption,
.lCondOption {
    width: 56px;
}

.cAgmtCode,
.lAgmtCode {
    width: 5%;
}

.cRemark,
.lRemark {
    width: 20%;
}

.cComments,
.lComments {
    min-width: 120px;
    height: 1px;
}

.cUploadFile,
.lUploadFile {
    min-width: 100px;
}

.cSignature,
.lSignature {
    width: 50px;
    text-align: center;
}

.cChk,
.lChk {
    cursor: pointer;
    width: 52px;
    text-align: center;
    text-decoration: underline;
}

/* Legal Checklist Documents*/

.lWaiver {
    width: 50px;
    text-align: center;
}

:host::ng-deep {
    label {
        margin-bottom: 0;
    }
    .ui-overlaypanel {
        // z-index: 100;
        // left: 40%;
        // right: 10%;
        width: 350px;
    }
    .ui-overlaypanel:after,
    .ui-overlaypanel:before {
        left: auto;
        right: 1.25em;
    }
    .ui-table-scrollable-header {
        margin-right: 0 auto;
        width: 100% !important;
    }
    .ui-table {
        .ui-table-caption {
            background-color: transparent;
            border: none;
            padding: 0 0 10px 0;
        }
    }
    .ui-fileupload .ui-fileupload-buttonbar {
        padding: 0;
    }
    .dataTable {
        // font-size: 0.625em;
        // font-size: 0.625em;
        font-size: 0.75em;
        * {
            word-break: break-all;
        }
    }
    .fillHeight {
        height: 100%;
    }
}