.deleted-field {
    background-color: #FF756B !important
}

.edited-field {
    background-color: #FFE073 !important
}

.new-field {
    background-color: #AADD81 !important
}

.legendContainer {
    text-align: right;
    margin-bottom: 10px;

    .overlayContainer {
        position: relative;
        text-align: left;
        right: 300px;
        top: -160px;
        width: 350px;
        background-color: red;
    }
}

:host::ng-deep {
    .ui-overlaypanel {
        // z-index: 100;
        // left: 40%;
        // right: 10%;
        width: 350px;
    }
    .ui-overlaypanel:after, .ui-overlaypanel:before {
        left: auto;
        right: 1.25em;
    }
    .ui-table-scrollable-header {
        margin-right: 0 auto;
        width: 100% !important;
    }
    .ui-table .ui-table-caption {
        background-color: transparent;
        border: none;
    }
    .ui-fileupload .ui-fileupload-buttonbar {
        padding: 0;
    }
    .dataTable {
        // font-size: 0.625em;
        // font-size: 0.625em;
        font-size: 0.75em;
        * {
            word-break: break-all;
        }
    }
    .fillHeight {
        height: 100%;
    }
}

.addedDoc {
    background-color: #AADD81 !important;
    color: #000000 !important;
}

.removedDoc {
    background-color: #FF756B !important;
    color: #000000 !important;
}

.modifiedDoc {
    background-color: #FFE073 !important;
    color: #000000 !important;
}

.uploadFileLink {
    cursor: pointer;
    text-decoration: underline;
}

.uploadFileLink {
    padding: 0;
    list-style-type: none;
    span:nth-child(1) {
        margin-right: 5px;
    }
    span:nth-child(2) {
        margin-left: 0px;
    }
}

.textareaWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.docComments {
    width: 100%;
    height: 100%;
}

ul {
    margin-top: 10px;
    padding: 0;
}

/*
 * All Table Column Widths 
 */

/* Compliance Checklist Documents*/

.cDocName {
    width: 10%;
}

.cDocType {
    width: 5%;
}

.cCondName {
    min-width: 100px;
}

.cCondOption {
    width: 5%;
}

.cAgmtCode {
    width: 5%;
}

.cRemark {
    width: 20%;
}

.cComments {
    min-width: 120px;
    height: 1px;
}

.cUploadFile { 
    min-width: 100px;
}

.cSignature {
    width: 52px;
    text-align: center;
}

.cChk {
    width: 52px;
    text-align: center;
}

/* Legal Checklist Documents*/

.lDocName {
    width: 10%;
}

.lDocType {
    width: 5%;
}

.lCondName {
    min-width: 100px;
}

.lCondOption {
    width: 5%;
}

.lAgmtCode {
    width: 5%;
}

.lRemark {
    width: 20%;
}

.lComments {
    min-width: 120px;
    height: 1px;
}

.lUploadFile {
    min-width: 100px;
}

.lSignature {
    width: 50px;
    text-align: center;
}

.lWaiver {
    width: 50px;
    text-align: center;
}

.lChk {
    width: 52px;
    text-align: center;
}